# Melhorias em implementação:

In [29]:
from sgp4.api import SGP4_ERRORS

from astropy.coordinates import TEME, CartesianRepresentation  # CartesianDifferential
from astropy import units as u
from astropy.coordinates import ITRS

import pymap3d as pm

import pandas as pd
from sgp4 import omm
from sgp4.api import Satrec
from astropy.time import Time
from astropy.time import TimeDelta
import time
import numpy as np

class PropagInit:
    def __init__(self, orbital_elem, lc, sample_time=1):
        self.lc = lc
        self.sample_time = sample_time
        self.sample_fast = 30
        self.time_array = []
        self.enu = []
        self.az_el_r = []
        self.itrs = []
        self.geodetic = []
        satellite = Satrec()
        omm.initialize(satellite, orbital_elem)
        self.satellite = satellite

    def orbit_propag(self, h0, n, sample_time_v):
        time_array = np.linspace(h0,h0 + TimeDelta(sample_time_v*(n -1)* u.s),n)
        error_code, teme_p, teme_v = self.satellite.sgp4_array(time_array.jd1, time_array.jd2)
        teme_p = CartesianRepresentation(teme_p[:,0]*u.km, teme_p[:,1]*u.km, teme_p[:,2]*u.km)
        teme = TEME(teme_p, obstime=time_array)  
        itrsp = teme.transform_to(ITRS(obstime=time_array))
        location = itrsp.earth_location
        enu_p = pm.ecef2enu(u.km.to(u.m,location.x).value,
                    u.km.to(u.m,location.y).value,
                    u.km.to(u.m,location.z).value,
                    self.lc.lat, self.lc.lon, self.lc.height)
        az_el_r = np.transpose(pm.enu2aer(enu_p[0],enu_p[1],enu_p[2]))
        enu_p = np.transpose(enu_p)
        geodetic = np.transpose(location.geodetic)
        geocentric = np.transpose([location.x.value,location.y.value,location.z.value])   

        return time_array, enu_p, az_el_r, geodetic, geocentric

    def traj_calc(self, h0, n):
        time_array, enu_p, az_el_r, geodetic, geocentric = self.orbit_propag(h0, n, self.sample_time)        
  
        self.time_array.append(time_array)
        self.enu.append(enu_p)
        self.az_el_r.append(az_el_r)
        self.geodetic.append(geodetic)
        self.itrs.append(geocentric)
        return self

    def search2h0(self, t_inic, t_final, dist_max, dist_min):
        time_array_fast, enu_p, az_el_r, geodetic, geocentric = self.orbit_propag(t_inic,
                                                    1 + int((t_final-t_inic)/TimeDelta(self.sample_fast * u.s)),
                                                    self.sample_fast)                                                    
        enu_d = az_el_r[:,2]
        dist_dif = enu_d - dist_max
        idx1 = np.where(dist_dif[:-1] * dist_dif[1:] < 0 )[0] + 1      

        i = 0
        while i < len(idx1)-1:
            if dist_dif[idx1[i]]<0:
                #print( 'H0: {}, HF: {} \n'.format(time_array[idx1[i]], time_array[idx1[i+1]]))
                t_in = time_array_fast[idx1[i]] - TimeDelta(self.sample_fast * u.s)
                t_o = time_array_fast[idx1[i+1]]
                #print( 'H0: {}, HF: {} \n'.format(t_in, t_o))        
                time_array, enu_p, az_el_r, geodetic, geocentric = self.orbit_propag(t_in,
                                                            1 + int((t_o-t_in)/TimeDelta(self.sample_time * u.s)),
                                                            self.sample_time)

                #print( 'H0: {}, HF: {}, dmin: {}, d0: {}, df: {} \n'.format(time_array[0], time_array[-1], np.min(enu_d),enu_d[0],enu_d[-1] ))
                enu_d = az_el_r[:,2]
                idx = np.where(enu_d < dist_max)[0]
                time_array = time_array[idx]
                enu_p = enu_p[idx]
                az_el_r = az_el_r[idx]
                geodetic = geodetic[idx]
                geocentric = geocentric[idx]               
                
                d_min = np.min(enu_d)
                

                if d_min < dist_min:
                    self.time_array.append(time_array)
                    self.enu.append(enu_p)
                    self.az_el_r.append(az_el_r)
                    self.geodetic.append(geodetic)
                    self.itrs.append(geocentric)              
                i+=2
            else: 
                i+=1        

        return self

class LocalFrame:
    def __init__(self, lat, lon, height):
        self.lat = lat
        self.lon = lon
        self.height = height

In [26]:
orbital_elem = pd.read_csv("orbital_elem.csv").to_dict('records')
lc = LocalFrame(-5.923654, -35.167755, 50)

posit = PropagInit(orbital_elem[20],lc)

t_inic=Time('2022-08-11T00:00:00.000', format='isot', scale='utc')     # momento de inicio da busca
t_final= Time('2022-08-18T00:00:00.000', format='isot', scale='utc')   # momento de parar a busca

ini = time.time()
posit.search2h0(t_inic, t_final, 1100*1000, 1000*1000)
fim = time.time()
print("Tempo: ", fim - ini)

Tempo:  0.13399910926818848

In [30]:
tim = []
for index in range(2):
    propag = PropagInit(orbital_elem[index], lc, 1) 
    pos = propag.search2h0(t_inic, t_final, 1100*1000, 1000*1000)
    for i in range(0, len(pos.time_array)):
        time_arr = pos.time_array[i]
        tim.append(pos.time_array[i])

In [32]:
df_enu = pd.DataFrame(pos.enu[0])

In [34]:
df_enu.to_csv("TU.txt", index=False, header=['1',str(len(df_enu.index)),'1'],float_format="%.3f")

In [31]:
tim[0].value

array(['2022-08-11T02:47:39.000', '2022-08-11T02:47:40.000',
       '2022-08-11T02:47:41.000', '2022-08-11T02:47:42.000',
       '2022-08-11T02:47:43.000', '2022-08-11T02:47:44.000',
       '2022-08-11T02:47:45.000', '2022-08-11T02:47:46.000',
       '2022-08-11T02:47:47.000', '2022-08-11T02:47:48.000',
       '2022-08-11T02:47:49.000', '2022-08-11T02:47:50.000',
       '2022-08-11T02:47:51.000', '2022-08-11T02:47:52.000',
       '2022-08-11T02:47:53.000', '2022-08-11T02:47:54.000',
       '2022-08-11T02:47:55.000', '2022-08-11T02:47:56.000',
       '2022-08-11T02:47:57.000', '2022-08-11T02:47:58.000',
       '2022-08-11T02:47:59.000', '2022-08-11T02:48:00.000',
       '2022-08-11T02:48:01.000', '2022-08-11T02:48:02.000',
       '2022-08-11T02:48:03.000', '2022-08-11T02:48:04.000',
       '2022-08-11T02:48:05.000', '2022-08-11T02:48:06.000',
       '2022-08-11T02:48:07.000', '2022-08-11T02:48:08.000',
       '2022-08-11T02:48:09.000', '2022-08-11T02:48:10.000',
       '2022-08-11T02:48:11.000', '2022-08-11T02:48:12.000',
       '2022-08-11T02:48:13.000', '2022-08-11T02:48:14.000',
       '2022-08-11T02:48:15.000', '2022-08-11T02:48:16.000',
       '2022-08-11T02:48:17.000', '2022-08-11T02:48:18.000',
       '2022-08-11T02:48:19.000', '2022-08-11T02:48:20.000',
       '2022-08-11T02:48:21.000', '2022-08-11T02:48:22.000',
       '2022-08-11T02:48:23.000', '2022-08-11T02:48:24.000',
       '2022-08-11T02:48:25.000', '2022-08-11T02:48:26.000',
       '2022-08-11T02:48:27.000', '2022-08-11T02:48:28.000',
       '2022-08-11T02:48:29.000', '2022-08-11T02:48:30.000',
       '2022-08-11T02:48:31.000', '2022-08-11T02:48:32.000',
       '2022-08-11T02:48:33.000', '2022-08-11T02:48:34.000',
       '2022-08-11T02:48:35.000', '2022-08-11T02:48:36.000',
       '2022-08-11T02:48:37.000', '2022-08-11T02:48:38.000',
       '2022-08-11T02:48:39.000', '2022-08-11T02:48:40.000',
       '2022-08-11T02:48:41.000', '2022-08-11T02:48:42.000',
       '2022-08-11T02:48:43.000', '2022-08-11T02:48:44.000',
       '2022-08-11T02:48:45.000', '2022-08-11T02:48:46.000',
       '2022-08-11T02:48:47.000', '2022-08-11T02:48:48.000',
       '2022-08-11T02:48:49.000', '2022-08-11T02:48:50.000',
       '2022-08-11T02:48:51.000', '2022-08-11T02:48:52.000',
       '2022-08-11T02:48:53.000', '2022-08-11T02:48:54.000',
       '2022-08-11T02:48:55.000', '2022-08-11T02:48:56.000',
       '2022-08-11T02:48:57.000', '2022-08-11T02:48:58.000',
       '2022-08-11T02:48:59.000', '2022-08-11T02:49:00.000',
       '2022-08-11T02:49:01.000', '2022-08-11T02:49:02.000',
       '2022-08-11T02:49:03.000', '2022-08-11T02:49:04.000',
       '2022-08-11T02:49:05.000', '2022-08-11T02:49:06.000',
       '2022-08-11T02:49:07.000', '2022-08-11T02:49:08.000',
       '2022-08-11T02:49:09.000', '2022-08-11T02:49:10.000',
       '2022-08-11T02:49:11.000', '2022-08-11T02:49:12.000',
       '2022-08-11T02:49:13.000', '2022-08-11T02:49:14.000',
       '2022-08-11T02:49:15.000', '2022-08-11T02:49:16.000',
       '2022-08-11T02:49:17.000', '2022-08-11T02:49:18.000',
       '2022-08-11T02:49:19.000', '2022-08-11T02:49:20.000',
       '2022-08-11T02:49:21.000', '2022-08-11T02:49:22.000',
       '2022-08-11T02:49:23.000', '2022-08-11T02:49:24.000',
       '2022-08-11T02:49:25.000', '2022-08-11T02:49:26.000',
       '2022-08-11T02:49:27.000', '2022-08-11T02:49:28.000',
       '2022-08-11T02:49:29.000', '2022-08-11T02:49:30.000',
       '2022-08-11T02:49:31.000', '2022-08-11T02:49:32.000',
       '2022-08-11T02:49:33.000', '2022-08-11T02:49:34.000',
       '2022-08-11T02:49:35.000', '2022-08-11T02:49:36.000',
       '2022-08-11T02:49:37.000', '2022-08-11T02:49:38.000',
       '2022-08-11T02:49:39.000', '2022-08-11T02:49:40.000',
       '2022-08-11T02:49:41.000', '2022-08-11T02:49:42.000',
       '2022-08-11T02:49:43.000', '2022-08-11T02:49:44.000',
       '2022-08-11T02:49:45.000', '2022-08-11T02:49:46.000',
       '2022-08-11T02:49:47.000', '2022-08-11T02:49:48.000',
       '2022-08-11T02:49:49.000', '2022-08-11T02:49:50.000',
       '2022-08-11T02:49:51.000', '2022-08-11T02:49:52.000',
       '2022-08-11T02:49:53.000', '2022-08-11T02:49:54.000',
       '2022-08-11T02:49:55.000', '2022-08-11T02:49:56.000',
       '2022-08-11T02:49:57.000', '2022-08-11T02:49:58.000',
       '2022-08-11T02:49:59.000', '2022-08-11T02:50:00.000',
       '2022-08-11T02:50:01.000', '2022-08-11T02:50:02.000',
       '2022-08-11T02:50:03.000', '2022-08-11T02:50:04.000',
       '2022-08-11T02:50:05.000', '2022-08-11T02:50:06.000',
       '2022-08-11T02:50:07.000', '2022-08-11T02:50:08.000',
       '2022-08-11T02:50:09.000', '2022-08-11T02:50:10.000',
       '2022-08-11T02:50:11.000', '2022-08-11T02:50:12.000',
       '2022-08-11T02:50:13.000', '2022-08-11T02:50:14.000',
       '2022-08-11T02:50:15.000', '2022-08-11T02:50:16.000',
       '2022-08-11T02:50:17.000', '2022-08-11T02:50:18.000',
       '2022-08-11T02:50:19.000', '2022-08-11T02:50:20.000',
       '2022-08-11T02:50:21.000', '2022-08-11T02:50:22.000',
       '2022-08-11T02:50:23.000', '2022-08-11T02:50:24.000',
       '2022-08-11T02:50:25.000', '2022-08-11T02:50:26.000',
       '2022-08-11T02:50:27.000', '2022-08-11T02:50:28.000',
       '2022-08-11T02:50:29.000', '2022-08-11T02:50:30.000',
       '2022-08-11T02:50:31.000', '2022-08-11T02:50:32.000',
       '2022-08-11T02:50:33.000', '2022-08-11T02:50:34.000',
       '2022-08-11T02:50:35.000', '2022-08-11T02:50:36.000',
       '2022-08-11T02:50:37.000', '2022-08-11T02:50:38.000',
       '2022-08-11T02:50:39.000', '2022-08-11T02:50:40.000',
       '2022-08-11T02:50:41.000', '2022-08-11T02:50:42.000',
       '2022-08-11T02:50:43.000', '2022-08-11T02:50:44.000',
       '2022-08-11T02:50:45.000', '2022-08-11T02:50:46.000',
       '2022-08-11T02:50:47.000', '2022-08-11T02:50:48.000',
       '2022-08-11T02:50:49.000', '2022-08-11T02:50:50.000',
       '2022-08-11T02:50:51.000', '2022-08-11T02:50:52.000',
       '2022-08-11T02:50:53.000', '2022-08-11T02:50:54.000',
       '2022-08-11T02:50:55.000', '2022-08-11T02:50:56.000',
       '2022-08-11T02:50:57.000', '2022-08-11T02:50:58.000',
       '2022-08-11T02:50:59.000', '2022-08-11T02:51:00.000',
       '2022-08-11T02:51:01.000', '2022-08-11T02:51:02.000',
       '2022-08-11T02:51:03.000', '2022-08-11T02:51:04.000',
       '2022-08-11T02:51:05.000', '2022-08-11T02:51:06.000',
       '2022-08-11T02:51:07.000', '2022-08-11T02:51:08.000',
       '2022-08-11T02:51:09.000', '2022-08-11T02:51:10.000',
       '2022-08-11T02:51:11.000', '2022-08-11T02:51:12.000',
       '2022-08-11T02:51:13.000', '2022-08-11T02:51:14.000',
       '2022-08-11T02:51:15.000', '2022-08-11T02:51:16.000',
       '2022-08-11T02:51:17.000', '2022-08-11T02:51:18.000',
       '2022-08-11T02:51:19.000', '2022-08-11T02:51:20.000',
       '2022-08-11T02:51:21.000', '2022-08-11T02:51:22.000',
       '2022-08-11T02:51:23.000', '2022-08-11T02:51:24.000',
       '2022-08-11T02:51:25.000', '2022-08-11T02:51:26.000',
       '2022-08-11T02:51:27.000', '2022-08-11T02:51:28.000',
       '2022-08-11T02:51:29.000', '2022-08-11T02:51:30.000',
       '2022-08-11T02:51:31.000', '2022-08-11T02:51:32.000',
       '2022-08-11T02:51:33.000', '2022-08-11T02:51:34.000',
       '2022-08-11T02:51:35.000', '2022-08-11T02:51:36.000',
       '2022-08-11T02:51:37.000', '2022-08-11T02:51:38.000',
       '2022-08-11T02:51:39.000', '2022-08-11T02:51:40.000',
       '2022-08-11T02:51:41.000', '2022-08-11T02:51:42.000',
       '2022-08-11T02:51:43.000', '2022-08-11T02:51:44.000',
       '2022-08-11T02:51:45.000', '2022-08-11T02:51:46.000',
       '2022-08-11T02:51:47.000', '2022-08-11T02:51:48.000'], dtype='<U23')

In [ ]:


orbital_elem = pd.read_csv("orbital_elem.csv").to_dict('records')
lc = LocalFrame(-5.923654, -35.167755, 50)

satellite = Satrec()
omm.initialize(satellite, orbital_elem[20])

posit = PropagInit(satellite,lc)


t_inic=Time('2022-08-11T00:00:00.000', format='isot', scale='utc')     # momento de inicio da busca
t_final= Time('2022-08-18T00:00:00.000', format='isot', scale='utc')   # momento de parar a busca

ini = time.time()
posit.searchh0(t_inic, t_final, 1100*1000,  1000*1000,  10000)
fim = time.time()
print("Tempo: ", fim - ini)

In [ ]:
posit.tempo

In [4]:
orbital_elem[20]['TLE_LINE1']

'1 22015U 92039B   22223.28147519  .00006192  00000-0  22215-3 0  9994'

In [5]:
orbital_elem[20]['TLE_LINE2']

'2 22015  20.7129 189.9538 0042459  90.0946 270.4360 15.23545436676838'

## Melhoria Encontrar H0 rápido:

In [ ]:
# Para Editar:

import numpy as np
from scipy.signal import argrelextrema

orbital_elem = pd.read_csv("orbital_elem.csv").to_dict('records')
lc = LocalFrame(-5.923654, -35.167755, 50)

t_inic=Time('2022-08-11T00:00:00.000', format='isot', scale='utc')     # momento de inicio da busca
t_final= Time('2022-08-18T00:00:00.000', format='isot', scale='utc')   # momento de parar a busca

sample_fast = 30
sample_time = 1
dist_max =1100000

def calc1(orbital_elem, init, sample_time, n):   
    satellite = Satrec()
    omm.initialize(satellite, orbital_elem)
    time_array = np.linspace(init,init + TimeDelta(sample_time*(n -1)* u.s),n)
    print(time_array.value )
    error_code, teme_p, teme_v = satellite.sgp4_array(time_array.jd1, time_array.jd2)
    x, y, z = teme_p[:,0], teme_p[:,1], teme_p[:,2]
    teme_p = CartesianRepresentation(x*u.km, y*u.km, z*u.km)
    teme = TEME(teme_p, obstime=time_array)  
    itrsp = teme.transform_to(ITRS(obstime=time_array))
    location = itrsp.earth_location
    enu_p = pm.ecef2enu(1000 * location.x.value,
                        1000 * location.y.value,
                        1000 * location.z.value, lc.lat,
                                lc.lon, lc.height)

    enu_p = np.transpose(enu_p)
    enu_d = np.linalg.norm(enu_p,axis=1)
    return time_array, enu_p, enu_d

ini = time.time()

#time_array, enu_p, enu_d = calc(orbital_elem[20], t_inic, t_final, sample_fast)
time_array, enu_p, enu_d = calc1(orbital_elem[20], t_inic, sample_fast, 1 + int((t_final-t_inic)/TimeDelta(sample_fast * u.s)))


dist_dif = enu_d - dist_max # angulo de 30 no ref ENU, 0.5 = sin(30)
idx1 = np.where(dist_dif[:-1] * dist_dif[1:] < 0 )[0] +1
tim_s = time_array[idx1]
# print(dist_dif[357:363])
# print(idx1)
# print(tim_s.value)

fim = time.time()
print("Tempo: ", fim - ini)

ini = time.time()

i = 0
while i < len(idx1)-1:
    if dist_dif[idx1[i]]<0:
        #print( 'H0: {}, HF: {} \n'.format(time_array[idx1[i]], time_array[idx1[i+1]]))
        t_in = time_array[idx1[i]]
        t_o = time_array[idx1[i+1]]
        print( 'H0: {}, HF: {} \n'.format(t_in, t_o))        
        # time_array1, enu_p, enu_d = calc(orbital_elem[20],
        #                                 t_in,
        #                                 t_o,
        #                                 #Time( t_in.value, scale='utc', format='isot'),
        #                                 #Time( t_o.value, scale='utc', format='isot'),
        #                                  1) #-TimeDelta(sample_fast*u.s, scale='utc')

        time_array1, enu_p, enu_d = calc1(orbital_elem[20], t_in, sample_time, 1 + int((t_o-t_in)/TimeDelta(sample_time * u.s)))

        #print( 'H0: {}, HF: {}, dmin: {}, d0: {}, df: {} \n'.format(time_array1[0], time_array1[-1], np.min(enu_d),enu_d[0],enu_d[-1] ))
        i+=2
        break
    else: i+=1
    
#     index = argrelextrema(enu_d, np.less)
#     enu_d_min =  enu_d[index]
#     idx_d_traj = np.where(enu_d < 1100000)[0]
#     traj = enu_d[idx_d_traj]

fim = time.time()
print("Tempo: ", fim - ini)

# #print(traj)
# print(enu_d)

In [27]:
(t_o-t_in)/TimeDelta(sample_time * u.s)

In [23]:
print(time_array1.shape)

(604800,)

In [89]:
from skyfield.api import load, wgs84

tles1 = load.tle_file('conftle.txt')

#tles2 = load.tle_file()

sat = tles1[0]
print(sat)

ini = time.time()

ts = load.timescale()

bluffton = wgs84.latlon(-5.92256, -35.1615)
t0 = ts.utc(2022, 8, 11)
t1 = ts.utc(2022, 8, 18)
t, events = sat.find_events(bluffton, t0, t1, altitude_degrees=30.0)

fim = time.time()
print("Tempo: ", fim - ini)

ini = time.time()
for ti, event in zip(t, events):
    name = ('rise above 30°', 'culminate', 'set below 30°')[event]
    print(ti.utc_strftime('%Y-%m-%dT%H:%M:%S'), name)

    tem = Time(ti.utc_strftime('%Y-%m-%dT%H:%M:%S'), format='isot')
    enup, enud = posit.pos_calc(tem) ## Lento
    print(enud)
fim = time.time()
print("numero: ", events.shape )
print("Tempo teme to enu: ", fim - ini)

catalog #22015 epoch 2022-08-11 06:45:19 UTC
Tempo:  0.017378568649291992
2022-08-11T05:58:05 rise above 30°
895977.0351996033
2022-08-11T05:59:31 culminate
679698.8065682248
2022-08-11T06:00:58 set below 30°
910673.8295055908
2022-08-11T07:38:43 rise above 30°
920549.431502886
2022-08-11T07:40:05 culminate
732715.5971286349
2022-08-11T07:41:28 set below 30°
929805.09690544
2022-08-11T16:03:37 rise above 30°
923970.8689106569
2022-08-11T16:05:26 culminate
542792.3972932128
2022-08-11T16:07:14 set below 30°
918957.1202116479
2022-08-12T05:32:48 rise above 30°
887073.4096373181
2022-08-12T05:34:20 culminate
629083.227991606
2022-08-12T05:35:52 set below 30°
898984.6363285336
2022-08-12T07:13:43 rise above 30°
911602.8536278032
2022-08-12T07:14:54 culminate
774257.9578191183
2022-08-12T07:16:06 set below 30°
920895.2144702657
2022-08-12T15:38:22 rise above 30°
931099.4777526197
2022-08-12T15:40:14 culminate
527288.1422838406
2022-08-12T15:42:05 set below 30°
926310.1782350001
2022-08-13T05:07:32 rise above 30°
879084.886400476
2022-08-13T05:09:08 culminate
582970.431606552
2022-08-13T05:10:45 set below 30°
891025.4899744933
2022-08-13T06:48:46 rise above 30°
902235.5729197786
2022-08-13T06:49:43 culminate
817108.2625579756
2022-08-13T06:50:40 set below 30°
909317.5382867714
2022-08-13T15:13:07 rise above 30°
937455.2316809824
2022-08-13T15:15:01 culminate
519165.3990220168
2022-08-13T15:16:54 set below 30°
932458.435587507
2022-08-14T04:42:17 rise above 30°
870951.6252812664
2022-08-14T04:43:56 culminate
542669.1264262836
2022-08-14T04:45:36 set below 30°
880990.3151722532
2022-08-14T06:23:55 rise above 30°
893946.9817484058
2022-08-14T06:24:31 culminate
860855.770470716
2022-08-14T06:25:08 set below 30°
899222.731535098
2022-08-14T14:47:52 rise above 30°
943125.6930163086
2022-08-14T14:49:47 culminate
518823.24783987546
2022-08-14T14:51:41 set below 30°
936929.4165816372
2022-08-15T04:17:03 rise above 30°
861764.7343842012
2022-08-15T04:18:44 culminate
509555.8177733584
2022-08-15T04:20:26 set below 30°
873649.9991688775
2022-08-15T14:22:37 rise above 30°
948369.7045607885
2022-08-15T14:24:32 culminate
526331.8480978779
2022-08-15T14:26:27 set below 30°
945028.4660696308
2022-08-16T03:51:49 rise above 30°
856486.4325556933
2022-08-16T03:53:31 culminate
485021.07033408136
2022-08-16T03:55:15 set below 30°
868921.7135300383
2022-08-16T13:57:23 rise above 30°
947964.0795903365
2022-08-16T13:59:17 culminate
541412.261406664
2022-08-16T14:01:10 set below 30°
945107.8373938473
2022-08-17T03:26:36 rise above 30°
849000.9599810555
2022-08-17T03:28:18 culminate
470346.9177722975
2022-08-17T03:30:02 set below 30°
860992.0029018864
2022-08-17T11:52:44 rise above 30°
942306.1610238309
2022-08-17T11:53:22 culminate
907401.1522057214
2022-08-17T11:54:00 set below 30°
944911.4442363459
2022-08-17T13:32:09 rise above 30°
948220.4092757176
2022-08-17T13:34:01 culminate
563539.3296764396
2022-08-17T13:35:52 set below 30°
948300.9343711301
numero:  (57,)
Tempo teme to enu:  0.09947037696838379

## Melhoria Código rápido de calculo trajetória:

In [95]:


tem = Time(t.utc_strftime('%Y-%m-%dT%H:%M:%S'), format='isot')

ini = time.time()

error_code, teme_p, teme_v = satellite.sgp4_array(tem.jd1, tem.jd2)

teme_p = np.array(teme_p)
x, y, z = teme_p[:,0], teme_p[:,1], teme_p[:,2]

teme_p = CartesianRepresentation(x*u.km, y*u.km, z*u.km)
teme = TEME(teme_p, obstime=tem)  # ver diferença entre UT1 e UTC
itrsp = teme.transform_to(ITRS(obstime=tem))
location = itrsp.earth_location
enu_p = pm.ecef2enu(1000 * location.x.value, 1000 * location.y.value, 1000 * location.z.value, lc.lat,
                            lc.lon, lc.height)

fim = time.time()
print("Tempo: ", fim - ini)

enu_p

Tempo:  0.003001689910888672

(array([   25466.06337329,  -234535.48500898,  -485454.81320164,
         -878175.99713957, -1024634.30626479, -1164614.57977876,
          780143.46398059,   540860.39993516,   290103.4642783 ]),
 array([ 1216598.09923688,    51033.27412469, -1116505.87515824,
         -843261.56259651,  -250690.24273257,   343486.73060408,
          927915.67102392,  -127756.80189316, -1188335.8860551 ]),
 array([700461.93302992, 802338.92532322, 704343.79299177, 704159.42803241,
        729241.30021246, 702741.30093862, 701815.80867844, 785162.04318144,
        703506.06784671]))

### Funcionando

In [3]:
import numpy as np
import pandas as pd
from astropy.coordinates import EarthLocation, AltAz


orbital_elem = pd.read_csv("traj_data.csv").to_dict('records')

lc = LocalFrame(-5.923654, -35.167755, 50)
siding_spring = EarthLocation.from_geodetic(lc.lon*u.deg,lc.lat*u.deg,lc.height*u.m,'WGS84')

usecols = ['NORAD_CAT_ID', 'H0', 'N_PT']
df_conf = pd.read_csv("traj_data.csv",usecols=usecols)

# df_conf = pd.read_csv("traj_data.csv")

ini = time.time()

for index, row in df_conf.iterrows():
    satellite = Satrec()
    omm.initialize(satellite, orbital_elem[index])
    h0 = Time(row['H0'], format='isot')
    time_array = np.linspace(h0,h0 + TimeDelta((row['N_PT'] -1)* u.s),row['N_PT'])

    error_code, teme_p, teme_v = satellite.sgp4_array(time_array.jd1, time_array.jd2)
    teme_p = np.array(teme_p)

    teme_p = CartesianRepresentation(teme_p[:,0]*u.km, teme_p[:,1]*u.km, teme_p[:,2]*u.km)
    teme = TEME(teme_p, obstime=time_array)  
    itrsp = teme.transform_to(ITRS(obstime=time_array))
    location = itrsp.earth_location

    # alt_az = itrsp.transform_to(AltAz(obstime=time_array, location=siding_spring)) 
    
    # enu_p = pm.ecef2enu(1000*location.x.value,
    #                     1000*location.y.value,
    #                     1000*location.z.value,
    #                     lc.lat, lc.lon, lc.height)

    enu_p = pm.ecef2enu(u.km.to(u.m,location.x).value,
                        u.km.to(u.m,location.y).value,
                        u.km.to(u.m,location.z).value,
                        lc.lat, lc.lon, lc.height)

    azelr = np.transpose(pm.enu2aer(enu_p[0],enu_p[1],enu_p[2]))

    enu_p = np.transpose(enu_p)

    loc_geodetic = np.transpose(location.geodetic)

    loc_geocentric = np.transpose([location.x.value,location.y.value,location.z.value])

    # enu_d = np.linalg.norm(enu_p,axis=1)
    # min_index = np.argmin(enu_d)
    # d_min = enu_d[min_index]
    # posit_min = enu_p[min_index]
    
    #break

fim = time.time()
print("Tempo: ", fim - ini)

# print(enu_d)

Tempo:  0.1809999942779541

In [4]:
azelr

array([[3.44863440e+02, 3.86474893e+01, 1.09961233e+06],
       [3.44632518e+02, 3.88975586e+01, 1.09491980e+06],
       [3.44397962e+02, 3.91490146e+01, 1.09025339e+06],
       [3.44159693e+02, 3.94018506e+01, 1.08561346e+06],
       [3.43917630e+02, 3.96560588e+01, 1.08100035e+06],
       [3.43671691e+02, 3.99116303e+01, 1.07641441e+06],
       [3.43421790e+02, 4.01685556e+01, 1.07185600e+06],
       [3.43167840e+02, 4.04268238e+01, 1.06732546e+06],
       [3.42909752e+02, 4.06864232e+01, 1.06282318e+06],
       [3.42647434e+02, 4.09473408e+01, 1.05834950e+06],
       [3.42380792e+02, 4.12095627e+01, 1.05390480e+06],
       [3.42109729e+02, 4.14730735e+01, 1.04948946e+06],
       [3.41834146e+02, 4.17378568e+01, 1.04510384e+06],
       [3.41553942e+02, 4.20038947e+01, 1.04074833e+06],
       [3.41269012e+02, 4.22711680e+01, 1.03642332e+06],
       [3.40979251e+02, 4.25396562e+01, 1.03212920e+06],
       [3.40684548e+02, 4.28093371e+01, 1.02786634e+06],
       [3.40384792e+02, 4.30801873e+01, 1.02363516e+06],
       [3.40079867e+02, 4.33521815e+01, 1.01943605e+06],
       [3.39769657e+02, 4.36252930e+01, 1.01526941e+06],
       [3.39454040e+02, 4.38994931e+01, 1.01113565e+06],
       [3.39132892e+02, 4.41747517e+01, 1.00703518e+06],
       [3.38806087e+02, 4.44510365e+01, 1.00296841e+06],
       [3.38473496e+02, 4.47283136e+01, 9.98935759e+05],
       [3.38134985e+02, 4.50065468e+01, 9.94937643e+05],
       [3.37790419e+02, 4.52856981e+01, 9.90974488e+05],
       [3.37439658e+02, 4.55657274e+01, 9.87046717e+05],
       [3.37082561e+02, 4.58465922e+01, 9.83154761e+05],
       [3.36718981e+02, 4.61282478e+01, 9.79299050e+05],
       [3.36348771e+02, 4.64106473e+01, 9.75480018e+05],
       [3.35971776e+02, 4.66937411e+01, 9.71698102e+05],
       [3.35587843e+02, 4.69774774e+01, 9.67953742e+05],
       [3.35196813e+02, 4.72618014e+01, 9.64247379e+05],
       [3.34798522e+02, 4.75466561e+01, 9.60579458e+05],
       [3.34392807e+02, 4.78319815e+01, 9.56950425e+05],
       [3.33979498e+02, 4.81177145e+01, 9.53360727e+05],
       [3.33558423e+02, 4.84037896e+01, 9.49810815e+05],
       [3.33129407e+02, 4.86901378e+01, 9.46301141e+05],
       [3.32692272e+02, 4.89766874e+01, 9.42832157e+05],
       [3.32246836e+02, 4.92633630e+01, 9.39404320e+05],
       [3.31792916e+02, 4.95500865e+01, 9.36018084e+05],
       [3.31330324e+02, 4.98367759e+01, 9.32673907e+05],
       [3.30858869e+02, 5.01233462e+01, 9.29372247e+05],
       [3.30378360e+02, 5.04097084e+01, 9.26113562e+05],
       [3.29888602e+02, 5.06957702e+01, 9.22898310e+05],
       [3.29389396e+02, 5.09814356e+01, 9.19726952e+05],
       [3.28880545e+02, 5.12666045e+01, 9.16599945e+05],
       [3.28361847e+02, 5.15511731e+01, 9.13517751e+05],
       [3.27833100e+02, 5.18350339e+01, 9.10480826e+05],
       [3.27294100e+02, 5.21180749e+01, 9.07489629e+05],
       [3.26744642e+02, 5.24001804e+01, 9.04544617e+05],
       [3.26184524e+02, 5.26812302e+01, 9.01646245e+05],
       [3.25613539e+02, 5.29611004e+01, 8.98794969e+05],
       [3.25031484e+02, 5.32396622e+01, 8.95991241e+05],
       [3.24438156e+02, 5.35167830e+01, 8.93235513e+05],
       [3.23833353e+02, 5.37923257e+01, 8.90528232e+05],
       [3.23216878e+02, 5.40661488e+01, 8.87869845e+05],
       [3.22588533e+02, 5.43381064e+01, 8.85260796e+05],
       [3.21948127e+02, 5.46080483e+01, 8.82701524e+05],
       [3.21295472e+02, 5.48758199e+01, 8.80192468e+05],
       [3.20630386e+02, 5.51412623e+01, 8.77734061e+05],
       [3.19952693e+02, 5.54042123e+01, 8.75326731e+05],
       [3.19262224e+02, 5.56645023e+01, 8.72970905e+05],
       [3.18558820e+02, 5.59219606e+01, 8.70667004e+05],
       [3.17842328e+02, 5.61764116e+01, 8.68415442e+05],
       [3.17112610e+02, 5.64276756e+01, 8.66216631e+05],
       [3.16369537e+02, 5.66755690e+01, 8.64070977e+05],
       [3.15612993e+02, 5.69199046e+01, 8.61978877e+05],
       [3.14842878e+02, 5.71604917e+01, 8.59940726e+05],
       [3.14059108e+02, 5.73971365e+01, 8.57956911e+05],
       [3.13261614e+02, 5.76296419e+01, 8.56027811e+05],
       [3.12450349e+02, 5.78578084e+01, 8.54153800e+05],
       [3.11625283e+02, 5.80814337e+01, 8.52335242e+05],
       [3.10786411e+02, 5.83003136e+01, 8.50572496e+05],
       [3.09933749e+02, 5.85142421e+01, 8.48865911e+05],
       [3.09067339e+02, 5.87230120e+01, 8.47215829e+05],
       [3.08187249e+02, 5.89264150e+01, 8.45622582e+05],
       [3.07293576e+02, 5.91242423e+01, 8.44086494e+05],
       [3.06386444e+02, 5.93162856e+01, 8.42607879e+05],
       [3.05466010e+02, 5.95023366e+01, 8.41187043e+05],
       [3.04532462e+02, 5.96821886e+01, 8.39824279e+05],
       [3.03586021e+02, 5.98556365e+01, 8.38519873e+05],
       [3.02626942e+02, 6.00224777e+01, 8.37274098e+05],
       [3.01655516e+02, 6.01825123e+01, 8.36087219e+05],
       [3.00672070e+02, 6.03355445e+01, 8.34959487e+05],
       [2.99676966e+02, 6.04813826e+01, 8.33891145e+05],
       [2.98670603e+02, 6.06198402e+01, 8.32882421e+05],
       [2.97653418e+02, 6.07507366e+01, 8.31933535e+05],
       [2.96625883e+02, 6.08738976e+01, 8.31044691e+05],
       [2.95588507e+02, 6.09891564e+01, 8.30216084e+05],
       [2.94541835e+02, 6.10963540e+01, 8.29447894e+05],
       [2.93486445e+02, 6.11953402e+01, 8.28740292e+05],
       [2.92422951e+02, 6.12859741e+01, 8.28093434e+05],
       [2.91351995e+02, 6.13681248e+01, 8.27507461e+05],
       [2.90274252e+02, 6.14416721e+01, 8.26982505e+05],
       [2.89190423e+02, 6.15065071e+01, 8.26518682e+05],
       [2.88101234e+02, 6.15625325e+01, 8.26116096e+05],
       [2.87007436e+02, 6.16096636e+01, 8.25774837e+05],
       [2.85909797e+02, 6.16478281e+01, 8.25494981e+05],
       [2.84809104e+02, 6.16769671e+01, 8.25276591e+05],
       [2.83706155e+02, 6.16970349e+01, 8.25119717e+05],
       [2.82601759e+02, 6.17079995e+01, 8.25024392e+05],
       [2.81496731e+02, 6.17098429e+01, 8.24990640e+05],
       [2.80391891e+02, 6.17025610e+01, 8.25018467e+05],
       [2.79288055e+02, 6.16861636e+01, 8.25107867e+05],
       [2.78186037e+02, 6.16606743e+01, 8.25258820e+05],
       [2.77086640e+02, 6.16261308e+01, 8.25471292e+05],
       [2.75990659e+02, 6.15825841e+01, 8.25745235e+05],
       [2.74898872e+02, 6.15300986e+01, 8.26080589e+05],
       [2.73812040e+02, 6.14687517e+01, 8.26477277e+05],
       [2.72730901e+02, 6.13986333e+01, 8.26935212e+05],
       [2.71656171e+02, 6.13198454e+01, 8.27454290e+05],
       [2.70588539e+02, 6.12325016e+01, 8.28034396e+05],
       [2.69528665e+02, 6.11367266e+01, 8.28675402e+05],
       [2.68477178e+02, 6.10326552e+01, 8.29377166e+05],
       [2.67434676e+02, 6.09204322e+01, 8.30139532e+05],
       [2.66401721e+02, 6.08002116e+01, 8.30962333e+05],
       [2.65378842e+02, 6.06721553e+01, 8.31845390e+05],
       [2.64366530e+02, 6.05364335e+01, 8.32788508e+05],
       [2.63365243e+02, 6.03932228e+01, 8.33791483e+05],
       [2.62375398e+02, 6.02427065e+01, 8.34854099e+05],
       [2.61397378e+02, 6.00850730e+01, 8.35976126e+05],
       [2.60431529e+02, 5.99205159e+01, 8.37157325e+05],
       [2.59478160e+02, 5.97492327e+01, 8.38397444e+05],
       [2.58537546e+02, 5.95714244e+01, 8.39696221e+05],
       [2.57609926e+02, 5.93872945e+01, 8.41053382e+05],
       [2.56695505e+02, 5.91970491e+01, 8.42468645e+05],
       [2.55794457e+02, 5.90008955e+01, 8.43941714e+05],
       [2.54906924e+02, 5.87990421e+01, 8.45472286e+05],
       [2.54033017e+02, 5.85916974e+01, 8.47060048e+05],
       [2.53172819e+02, 5.83790700e+01, 8.48704676e+05],
       [2.52326386e+02, 5.81613680e+01, 8.50405840e+05],
       [2.51493747e+02, 5.79387982e+01, 8.52163198e+05],
       [2.50674910e+02, 5.77115659e+01, 8.53976403e+05],
       [2.49869856e+02, 5.74798746e+01, 8.55845095e+05],
       [2.49078548e+02, 5.72439256e+01, 8.57768912e+05],
       [2.48300928e+02, 5.70039176e+01, 8.59747481e+05],
       [2.47536921e+02, 5.67600464e+01, 8.61780422e+05],
       [2.46786435e+02, 5.65125047e+01, 8.63867349e+05],
       [2.46049361e+02, 5.62614821e+01, 8.66007870e+05],
       [2.45325579e+02, 5.60071642e+01, 8.68201586e+05],
       [2.44614954e+02, 5.57497333e+01, 8.70448091e+05],
       [2.43917342e+02, 5.54893675e+01, 8.72746977e+05],
       [2.43232586e+02, 5.52262413e+01, 8.75097828e+05],
       [2.42560524e+02, 5.49605247e+01, 8.77500222e+05],
       [2.41900981e+02, 5.46923837e+01, 8.79953736e+05],
       [2.41253780e+02, 5.44219799e+01, 8.82457940e+05],
       [2.40618736e+02, 5.41494708e+01, 8.85012402e+05],
       [2.39995659e+02, 5.38750094e+01, 8.87616683e+05],
       [2.39384355e+02, 5.35987443e+01, 8.90270345e+05],
       [2.38784626e+02, 5.33208199e+01, 8.92972944e+05],
       [2.38196273e+02, 5.30413760e+01, 8.95724034e+05],
       [2.37619092e+02, 5.27605483e+01, 8.98523167e+05],
       [2.37052882e+02, 5.24784680e+01, 9.01369891e+05],
       [2.36497437e+02, 5.21952622e+01, 9.04263754e+05],
       [2.35952554e+02, 5.19110534e+01, 9.07204302e+05],
       [2.35418026e+02, 5.16259604e+01, 9.10191079e+05],
       [2.34893651e+02, 5.13400975e+01, 9.13223628e+05],
       [2.34379226e+02, 5.10535751e+01, 9.16301490e+05],
       [2.33874548e+02, 5.07664996e+01, 9.19424209e+05],
       [2.33379417e+02, 5.04789734e+01, 9.22591324e+05],
       [2.32893636e+02, 5.01910952e+01, 9.25802377e+05],
       [2.32417008e+02, 4.99029598e+01, 9.29056907e+05],
       [2.31949339e+02, 4.96146584e+01, 9.32354457e+05],
       [2.31490438e+02, 4.93262785e+01, 9.35694568e+05],
       [2.31040116e+02, 4.90379042e+01, 9.39076781e+05],
       [2.30598187e+02, 4.87496161e+01, 9.42500640e+05],
       [2.30164469e+02, 4.84614915e+01, 9.45965689e+05],
       [2.29738780e+02, 4.81736045e+01, 9.49471473e+05],
       [2.29320946e+02, 4.78860258e+01, 9.53017538e+05],
       [2.28910791e+02, 4.75988234e+01, 9.56603432e+05],
       [2.28508145e+02, 4.73120619e+01, 9.60228706e+05],
       [2.28112841e+02, 4.70258033e+01, 9.63892910e+05],
       [2.27724716e+02, 4.67401067e+01, 9.67595598e+05],
       [2.27343608e+02, 4.64550284e+01, 9.71336327e+05],
       [2.26969361e+02, 4.61706221e+01, 9.75114654e+05],
       [2.26601821e+02, 4.58869389e+01, 9.78930139e+05],
       [2.26240836e+02, 4.56040274e+01, 9.82782345e+05],
       [2.25886261e+02, 4.53219339e+01, 9.86670839e+05],
       [2.25537949e+02, 4.50407024e+01, 9.90595187e+05],
       [2.25195762e+02, 4.47603744e+01, 9.94554962e+05],
       [2.24859560e+02, 4.44809894e+01, 9.98549738e+05],
       [2.24529211e+02, 4.42025849e+01, 1.00257909e+06],
       [2.24204581e+02, 4.39251962e+01, 1.00664260e+06],
       [2.23885544e+02, 4.36488567e+01, 1.01073985e+06],
       [2.23571973e+02, 4.33735978e+01, 1.01487043e+06],
       [2.23263747e+02, 4.30994494e+01, 1.01903393e+06],
       [2.22960747e+02, 4.28264393e+01, 1.02322994e+06],
       [2.22662855e+02, 4.25545938e+01, 1.02745806e+06],
       [2.22369959e+02, 4.22839375e+01, 1.03171789e+06],
       [2.22081947e+02, 4.20144934e+01, 1.03600903e+06],
       [2.21798712e+02, 4.17462832e+01, 1.04033109e+06],
       [2.21520147e+02, 4.14793269e+01, 1.04468369e+06],
       [2.21246151e+02, 4.12136431e+01, 1.04906643e+06],
       [2.20976622e+02, 4.09492493e+01, 1.05347893e+06],
       [2.20711463e+02, 4.06861615e+01, 1.05792083e+06],
       [2.20450579e+02, 4.04243946e+01, 1.06239174e+06],
       [2.20193876e+02, 4.01639621e+01, 1.06689130e+06],
       [2.19941264e+02, 3.99048766e+01, 1.07141913e+06],
       [2.19692654e+02, 3.96471495e+01, 1.07597488e+06],
       [2.19447960e+02, 3.93907910e+01, 1.08055820e+06],
       [2.19207098e+02, 3.91358106e+01, 1.08516871e+06],
       [2.18969987e+02, 3.88822167e+01, 1.08980608e+06],
       [2.18736545e+02, 3.86300166e+01, 1.09446996e+06]])

In [31]:
location.ellipsoid

'WGS84'

In [188]:
time_array=time_array.value.reshape(204,1)

In [187]:
enu_p.shape

(204, 3)

In [190]:
np.concatenate((time_array, enu_p), axis=1)

array([['2022-08-11T12:18:49.000', '-224250.46328727138',
        '829005.5959448543', '686737.7470922048'],
       ['2022-08-11T12:18:50.000', '-225825.519155672',
        '821675.5698217726', '687532.87235009'],
       ['2022-08-11T12:18:51.000', '-227400.33066398837',
        '814344.6091003325', '688319.984889375'],
       ['2022-08-11T12:18:52.000', '-228974.89490022988',
        '807012.7219149172', '689099.0838196492'],
       ['2022-08-11T12:18:53.000', '-230549.20895055623',
        '799679.9164014771', '689870.1682595699'],
       ['2022-08-11T12:18:54.000', '-232123.269903042',
        '792346.2006967939', '690633.2373368682'],
       ['2022-08-11T12:18:55.000', '-233697.074845232',
        '785011.5829385936', '691388.2901883955'],
       ['2022-08-11T12:18:56.000', '-235270.6208648493',
        '777676.0712661771', '692135.3259600131'],
       ['2022-08-11T12:18:57.000', '-236843.90505050047',
        '770339.6738197859', '692874.3438066747'],
       ['2022-08-11T12:18:58.000', '-238416.9244904525',
        '763002.3987407675', '693605.3428924258'],
       ['2022-08-11T12:18:59.000', '-239989.6762735002',
        '755664.2541711882', '694328.322390412'],
       ['2022-08-11T12:19:00.000', '-241562.1574883589',
        '748325.2482551166', '695043.2814827872'],
       ['2022-08-11T12:19:01.000', '-243134.365224735',
        '740985.3891370194', '695750.2193608227'],
       ['2022-08-11T12:19:02.000', '-244706.29657179676',
        '733644.6849624565', '696449.1352249063'],
       ['2022-08-11T12:19:03.000', '-246277.94861979602',
        '726303.1438781563', '697140.0282844588'],
       ['2022-08-11T12:19:04.000', '-247849.31845881336',
        '718960.7740321734', '697822.8977579764'],
       ['2022-08-11T12:19:05.000', '-249420.40317865746',
        '711617.5835734362', '698497.7428730841'],
       ['2022-08-11T12:19:06.000', '-250991.19987046358',
        '704273.5806516203', '699164.5628664744'],
       ['2022-08-11T12:19:07.000', '-252561.70562545408',
        '696928.7734176862', '699823.3569839129'],
       ['2022-08-11T12:19:08.000', '-254131.9175346903',
        '689583.1700238916', '700474.124480244'],
       ['2022-08-11T12:19:09.000', '-255701.83268981648',
        '682236.77862314', '701116.8646194243'],
       ['2022-08-11T12:19:10.000', '-257271.44818254368',
        '674889.6073695584', '701751.5766744859'],
       ['2022-08-11T12:19:11.000', '-258840.76110556658',
        '667541.6644178733', '702378.2599275742'],
       ['2022-08-11T12:19:12.000', '-260409.76855099987',
        '660192.9579244442', '702996.9136698735'],
       ['2022-08-11T12:19:13.000', '-261978.46761217754',
        '652843.4960461274', '703607.5372017039'],
       ['2022-08-11T12:19:14.000', '-263546.8553821129',
        '645493.2869409395', '704210.1298324622'],
       ['2022-08-11T12:19:15.000', '-265114.928954364',
        '638142.3387678713', '704804.6908806402'],
       ['2022-08-11T12:19:16.000', '-266682.6854228465',
        '630790.6596867765', '705391.2196738299'],
       ['2022-08-11T12:19:17.000', '-268250.1218815799',
        '623438.2578586317', '705969.7155487092'],
       ['2022-08-11T12:19:18.000', '-269817.23542559845',
        '616085.1414450384', '706540.1778510595'],
       ['2022-08-11T12:19:19.000', '-271384.0231493971',
        '608731.3186090337', '707102.6059357446'],
       ['2022-08-11T12:19:20.000', '-272950.4821487093',
        '601376.7975141243', '707656.9991667387'],
       ['2022-08-11T12:19:21.000', '-274516.60951896984',
        '594021.5863250472', '708203.3569171098'],
       ['2022-08-11T12:19:22.000', '-276082.4023560732',
        '586665.6932069694', '708741.6785690582'],
       ['2022-08-11T12:19:23.000', '-277647.8577569598',
        '579309.1263266428', '709271.9635137996'],
       ['2022-08-11T12:19:24.000', '-279212.9728176246',
        '571951.8938512455', '709794.2111517553'],
       ['2022-08-11T12:19:25.000', '-280777.7446356245',
        '564594.0039489397', '710308.420892381'],
       ['2022-08-11T12:19:26.000', '-282342.17030869785',
        '557235.4647888124', '710814.5921542412'],
       ['2022-08-11T12:19:27.000', '-283906.246934574',
        '549876.2845406972', '711312.7243650309'],
       ['2022-08-11T12:19:28.000', '-285469.9716115664',
        '542516.4713754604', '711802.8169615251'],
       ['2022-08-11T12:19:29.000', '-287033.34143839893',
        '535156.0334647004', '712284.8693896212'],
       ['2022-08-11T12:19:30.000', '-288596.35351397784',
        '527794.9789809133', '712758.8811043168'],
       ['2022-08-11T12:19:31.000', '-290159.0049380349',
        '520433.3160973796', '713224.8515697108'],
       ['2022-08-11T12:19:32.000', '-291721.29281071323',
        '513071.0529881664', '713682.7802590057'],
       ['2022-08-11T12:19:33.000', '-293283.2142321444',
        '505708.1978283103', '714132.6666545223'],
       ['2022-08-11T12:19:34.000', '-294844.7663031116',
        '498344.75879345485', '714574.5102476936'],
       ['2022-08-11T12:19:35.000', '-296405.9461246015',
        '490980.744060145', '715008.3105390661'],
       ['2022-08-11T12:19:36.000', '-297966.7507986311',
        '483616.1618058651', '715434.0670382584'],
       ['2022-08-11T12:19:37.000', '-299527.17742703785',
        '476251.0202086374', '715851.7792640508'],
       ['2022-08-11T12:19:38.000', '-301087.2231121317',
        '468885.3274473572', '716261.4467443131'],
       ['2022-08-11T12:19:39.000', '-302646.8849574503',
        '461519.09170163097', '716663.0690160078'],
       ['2022-08-11T12:19:40.000', '-304206.1600655438',
        '454152.3211519293', '717056.6456252664'],
       ['2022-08-11T12:19:41.000', '-305765.0455410599',
        '446785.0239793728', '717442.1761272561'],
       ['2022-08-11T12:19:42.000', '-307323.53848767024',
        '439417.20836582687', '717819.6600863371'],
       ['2022-08-11T12:19:43.000', '-308881.63601011015',
        '432048.8824940076', '718189.0970759443'],
       ['2022-08-11T12:19:44.000', '-310439.33521399176',
        '424680.0545471451', '718550.4866786174'],
       ['2022-08-11T12:19:45.000', '-311996.63320458564',
        '417310.73270936706', '718903.8284860479'],
       ['2022-08-11T12:19:46.000', '-313553.5270886291',
        '409940.9251654105', '719249.1220989997'],
       ['2022-08-11T12:19:47.000', '-315110.0139721473',
        '402570.6401007462', '719586.3671273985'],
       ['2022-08-11T12:19:48.000', '-316666.090962033',
        '395199.88570144156', '719915.5631902892'],
       ['2022-08-11T12:19:49.000', '-318221.7551668866',
        '387828.6701544438', '720236.7099157668'],
       ['2022-08-11T12:19:50.000', '-319777.0036937814',
        '380457.00164717325', '720549.8069411356'],
       ['2022-08-11T12:19:51.000', '-321331.8336518798',
        '373084.88836782874', '720854.8539127607'],
       ['2022-08-11T12:19:52.000', '-322886.24214986106',
        '365712.33850510285', '721151.8504861632'],
       ['2022-08-11T12:19:53.000', '-324440.22629771486',
        '358339.360248446', '721440.7963259516'],
       ['2022-08-11T12:19:54.000', '-325993.7832052894',
        '350965.96178811573', '721721.6911058738'],
       ['2022-08-11T12:19:55.000', '-327546.9099831868',
        '343592.15131473454', '721994.5345088125'],
       ['2022-08-11T12:19:56.000', '-329099.6037425366',
        '336217.93701959506', '722259.3262267497'],
       ['2022-08-11T12:19:57.000', '-330651.8615945249',
        '328843.32709471957', '722516.0659608319'],
       ['2022-08-11T12:19:58.000', '-332203.68065236986',
        '321468.32973252283', '722764.7534212451'],
       ['2022-08-11T12:19:59.000', '-333755.05802790733',
        '314092.9531262788', '723005.3883273972'],
       ['2022-08-11T12:20:00.000', '-335305.9908343947',
        '306717.20546951535', '723237.970407772'],
       ['2022-08-11T12:20:01.000', '-336856.4761859407',
        '299341.09495685354', '723462.4993999635'],
       ['2022-08-11T12:20:02.000', '-338406.5111964971',
        '291964.62978285534', '723678.975050741'],
       ['2022-08-11T12:20:03.000', '-339956.09298129636',
        '284587.81814298127', '723887.3971159483'],
       ['2022-08-11T12:20:04.000', '-341505.2186553413',
        '277210.6682332511', '724087.7653606005'],
       ['2022-08-11T12:20:05.000', '-343053.88533495844',
        '269833.1882503396', '724280.0795587915'],
       ['2022-08-11T12:20:06.000', '-344602.0901365155',
        '262455.38639106485', '724464.339493785'],
       ['2022-08-11T12:20:07.000', '-346149.8301770728',
        '255077.27085304313', '724640.5449579585'],
       ['2022-08-11T12:20:08.000', '-347697.1025742963',
        '247698.84983425745', '724808.6957528255'],
       ['2022-08-11T12:20:09.000', '-349243.90444618196',
        '240320.13153357856', '724968.7916890105'],
       ['2022-08-11T12:20:10.000', '-350790.232911744',
        '232941.12415001285', '725120.8325862784'],
       ['2022-08-11T12:20:11.000', '-352336.085090602',
        '225561.83588296414', '725264.8182735143'],
       ['2022-08-11T12:20:12.000', '-353881.4581025125',
        '218182.27493251112', '725400.7485887505'],
       ['2022-08-11T12:20:13.000', '-355426.34906823235',
        '210802.44949934183', '725528.6233791228'],
       ['2022-08-11T12:20:14.000', '-356970.7551083185',
        '203422.36778445164', '725648.4425009516'],
       ['2022-08-11T12:20:15.000', '-358514.67334496515',
        '196042.0379891552', '725760.2058196341'],
       ['2022-08-11T12:20:16.000', '-360058.10090052686',
        '188661.46831536343', '725863.9132097139'],
       ['2022-08-11T12:20:17.000', '-361601.0348983595',
        '181280.6669656472', '725959.5645548457'],
       ['2022-08-11T12:20:18.000', '-363143.4724614777',
        '173899.6421425458', '726047.1597478773'],
       ['2022-08-11T12:20:19.000', '-364685.41071408405',
        '166518.40204926732', '726126.6986907452'],
       ['2022-08-11T12:20:20.000', '-366226.8467814343',
        '159136.9548893462', '726198.1812945079'],
       ['2022-08-11T12:20:21.000', '-367767.7777885284',
        '151755.30886713206', '726261.6074793934'],
       ['2022-08-11T12:20:22.000', '-369308.20086211606',
        '144373.47218665056', '726316.9771747108'],
       ['2022-08-11T12:20:23.000', '-370848.11312791327',
        '136991.4530527386', '726364.2903189871'],
       ['2022-08-11T12:20:24.000', '-372387.5117144594',
        '129609.25967072198', '726403.5468597717'],
       ['2022-08-11T12:20:25.000', '-373926.3937487722',
        '122226.9002461122', '726434.7467538555'],
       ['2022-08-11T12:20:26.000', '-375464.7563599038',
        '114844.3829848314', '726457.8899670979'],
       ['2022-08-11T12:20:27.000', '-377002.59667782043',
        '107461.71609282534', '726472.9764744841'],
       ['2022-08-11T12:20:28.000', '-378539.91183103435',
        '100078.90777703241', '726480.0062602166'],
       ['2022-08-11T12:20:29.000', '-380076.6989513982',
        '92695.96624428636', '726478.97931753'],
       ['2022-08-11T12:20:30.000', '-381612.9551697951',
        '85312.89970190979', '726469.8956488544'],
       ['2022-08-11T12:20:31.000', '-383148.6776180472',
        '77929.7163570922', '726452.7552657544'],
       ['2022-08-11T12:20:32.000', '-384683.8634293418',
        '70546.42441818859', '726427.5581888817'],
       ['2022-08-11T12:20:33.000', '-386218.5097362184',
        '63163.03209332412', '726394.3044481032'],
       ['2022-08-11T12:20:34.000', '-387752.61367330956',
        '55779.5475906773', '726352.9940823484'],
       ['2022-08-11T12:20:35.000', '-389286.1723749194',
        '48395.97911913644', '726303.6271397269'],
       ['2022-08-11T12:20:36.000', '-390819.1829766024',
        '41012.334887825855', '726246.2036774637'],
       ['2022-08-11T12:20:37.000', '-392351.64261504053',
        '33628.62310616545', '726180.723761891'],
       ['2022-08-11T12:20:38.000', '-393883.54842567584',
        '26244.851983373002', '726107.1874685854'],
       ['2022-08-11T12:20:39.000', '-395414.8975471873',
        '18861.02972933917', '726025.5948821211'],
       ['2022-08-11T12:20:40.000', '-396945.6871171597',
        '11477.16455430365', '725935.9460963168'],
       ['2022-08-11T12:20:41.000', '-398475.91427493026',
        '4093.2646684254723', '725838.2412140452'],
       ['2022-08-11T12:20:42.000', '-400005.5761599317',
        '-3290.6617177737644', '725732.4803473795'],
       ['2022-08-11T12:20:43.000', '-401534.6699125491',
        '-10674.606393622249', '725618.6636175077'],
       ['2022-08-11T12:20:44.000', '-403063.1926742678',
        '-18058.561148163048', '725496.7911547173'],
       ['2022-08-11T12:20:45.000', '-404591.1415857007',
        '-25442.51777025615', '725366.8630985485'],
       ['2022-08-11T12:20:46.000', '-406118.51379063574',
        '-32826.468048663126', '725228.8795975235'],
       ['2022-08-11T12:20:47.000', '-407645.30643194384',
        '-40210.403771812256', '725082.8408093981'],
       ['2022-08-11T12:20:48.000', '-409171.5166537131',
        '-47594.316728099424', '724928.7469010539'],
       ['2022-08-11T12:20:49.000', '-410697.14160071395',
        '-54978.19870565715', '724766.5980484869'],
       ['2022-08-11T12:20:50.000', '-412222.1784183411',
        '-62362.041492686054', '724596.3944368567'],
       ['2022-08-11T12:20:51.000', '-413746.62425326084',
        '-69745.83687678062', '724418.1362604208'],
       ['2022-08-11T12:20:52.000', '-415270.4762521675',
        '-77129.57664583495', '724231.8237226221'],
       ['2022-08-11T12:20:53.000', '-416793.7315634955',
        '-84513.25258731817', '724037.4570359988'],
       ['2022-08-11T12:20:54.000', '-418316.3873349097',
        '-91896.85648904409', '723835.036422271'],
       ['2022-08-11T12:20:55.000', '-419838.4407167474',
        '-99280.3801380737', '723624.5621122351'],
       ['2022-08-11T12:20:56.000', '-421359.8888590133',
        '-106663.81532184934', '723406.0343458606'],
       ['2022-08-11T12:20:57.000', '-422880.72891206027',
        '-114047.15382752578', '723179.4533722809'],
       ['2022-08-11T12:20:58.000', '-424400.9580282376',
        '-121430.38744216424', '722944.8194497115'],
       ['2022-08-11T12:20:59.000', '-425920.57335968624',
        '-128813.50795279387', '722702.1328455519'],
       ['2022-08-11T12:21:00.000', '-427439.57206014683',
        '-136196.50714642118', '722451.3938362825'],
       ['2022-08-11T12:21:01.000', '-428957.95128336217',
        '-143579.37680984498', '722192.6027075902'],
       ['2022-08-11T12:21:02.000', '-430475.70818469994',
        '-150962.10873000987', '721925.7597542349'],
       ['2022-08-11T12:21:03.000', '-431992.83991990983',
        '-158344.69469367934', '721650.8652801258'],
       ['2022-08-11T12:21:04.000', '-433509.343644971',
        '-165727.1264876139', '721367.9195983725'],
       ['2022-08-11T12:21:05.000', '-435025.21651767904',
        '-173109.39589858206', '721076.9230311457'],
       ['2022-08-11T12:21:06.000', '-436540.45569627115',
        '-180491.49471326545', '720777.8759097686'],
       ['2022-08-11T12:21:07.000', '-438055.0583399945',
        '-187873.4147184476', '720470.7785746984'],
       ['2022-08-11T12:21:08.000', '-439569.02160875103',
        '-195255.14770088508', '720155.6313755293'],
       ['2022-08-11T12:21:09.000', '-441082.34266262903',
        '-202636.68544716894', '719832.4346710541'],
       ['2022-08-11T12:21:10.000', '-442595.01866381976',
        '-210018.01974408628', '719501.1888290955'],
       ['2022-08-11T12:21:11.000', '-444107.04677432845',
        '-217399.14237843695', '719161.8942266867'],
       ['2022-08-11T12:21:12.000', '-445618.42415782437',
        '-224780.04513704666', '718814.5512499482'],
       ['2022-08-11T12:21:13.000', '-447129.1479782184',
        '-232160.7198067463', '718459.1602941671'],
       ['2022-08-11T12:21:14.000', '-448639.2154005164',
        '-239541.1581744931', '718095.7217637451'],
       ['2022-08-11T12:21:15.000', '-450148.6235905256',
        '-246921.3520271898', '717724.2360722447'],
       ['2022-08-11T12:21:16.000', '-451657.36971478304',
        '-254301.29315193498', '717344.7036423441'],
       ['2022-08-11T12:21:17.000', '-453165.4509412487',
        '-261680.9733357632', '716957.124905836'],
       ['2022-08-11T12:21:18.000', '-454672.8644382147',
        '-269060.3843660291', '716561.5003036753'],
       ['2022-08-11T12:21:19.000', '-456179.6073750041',
        '-276439.5180299095', '716157.8302859376'],
       ['2022-08-11T12:21:20.000', '-457685.67692143837',
        '-283818.36611478153', '715746.1153118714'],
       ['2022-08-11T12:21:21.000', '-459191.0702494679',
        '-291196.920408322', '715326.3558497586'],
       ['2022-08-11T12:21:22.000', '-460695.78453068295',
        '-298575.1726980399', '714898.5523771017'],
       ['2022-08-11T12:21:23.000', '-462199.8169380013',
        '-305953.11477175244', '714462.7053805054'],
       ['2022-08-11T12:21:24.000', '-463703.1646452333',
        '-313330.73841735104', '714018.8153557227'],
       ['2022-08-11T12:21:25.000', '-465205.82482692413',
        '-320708.0354230238', '713566.8828076144'],
       ['2022-08-11T12:21:26.000', '-466707.7946590756',
        '-328084.9975766679', '713106.9082501794'],
       ['2022-08-11T12:21:27.000', '-468209.07131807937',
        '-335461.6166670473', '712638.8922065375'],
       ['2022-08-11T12:21:28.000', '-469709.65198137343',
        '-342837.884482472', '712162.8352089756'],
       ['2022-08-11T12:21:29.000', '-471209.5338273658',
        '-350213.7928117021', '711678.7377988682'],
       ['2022-08-11T12:21:30.000', '-472708.71403499675',
        '-357589.3334437398', '711186.6005267665'],
       ['2022-08-11T12:21:31.000', '-474207.18978551705',
        '-364964.4981676929', '710686.4239522504'],
       ['2022-08-11T12:21:32.000', '-475704.95825894945',
        '-372339.2787729865', '710178.2086441743'],
       ['2022-08-11T12:21:33.000', '-477202.0166385891',
        '-379713.6670488453', '709661.9551803838'],
       ['2022-08-11T12:21:34.000', '-478698.3621067661',
        '-387087.6547853693', '709137.6641479512'],
       ['2022-08-11T12:21:35.000', '-480193.9918475022',
        '-394461.23377251596', '708605.3361430316'],
       ['2022-08-11T12:21:36.000', '-481688.90304622205',
        '-401834.39580063266', '708064.9717708842'],
       ['2022-08-11T12:21:37.000', '-483183.0928884348',
        '-409207.1326598395', '707516.571645977'],
       ['2022-08-11T12:21:38.000', '-484676.55856169306',
        '-416579.4361413109', '706960.1363917798'],
       ['2022-08-11T12:21:39.000', '-486169.29725308134',
        '-423951.29803591524', '706395.6666410201'],
       ['2022-08-11T12:21:40.000', '-487661.30615187855',
        '-431322.7101350938', '705823.1630354645'],
       ['2022-08-11T12:21:41.000', '-489152.58244828135',
        '-438693.6642302444', '705242.6262260048'],
       ['2022-08-11T12:21:42.000', '-490643.12333233387',
        '-446064.15211326414', '704654.0568727329'],
       ['2022-08-11T12:21:43.000', '-492132.92599645583',
        '-453434.16557655967', '704057.4556447613'],
       ['2022-08-11T12:21:44.000', '-493621.98763324507',
        '-460803.69641261164', '703452.8232203855'],
       ['2022-08-11T12:21:45.000', '-495110.30543628096',
        '-468172.7364141249', '702840.1602870406'],
       ['2022-08-11T12:21:46.000', '-496597.8766007512',
        '-475541.2773742523', '702219.4675412222'],
       ['2022-08-11T12:21:47.000', '-498084.69832226046',
        '-482909.3110865945', '701590.7456885978'],
       ['2022-08-11T12:21:48.000', '-499570.7677978117',
        '-490276.8293450222', '700953.9954439165'],
       ['2022-08-11T12:21:49.000', '-501056.08222460735',
        '-497643.8239435146', '700309.2175311287'],
       ['2022-08-11T12:21:50.000', '-502540.6388019038',
        '-505010.28667689033', '699656.4126831982'],
       ['2022-08-11T12:21:51.000', '-504024.4347297393',
        '-512376.2093400556', '698995.581642248'],

In [180]:
u.km.to(u.m,location.x).value

array([5685481.7283911 , 5684602.65866297, 5683717.13565711,
       5682825.16101302, 5681926.73637877, 5681021.86340875,
       5680110.54376518, 5679192.77911761, 5678268.57114257,
       5677337.92152428, 5676400.83195409, 5675457.3041309 ,
       5674507.33976051, 5673550.94055649, 5672588.10823927,
       5671618.84453685, 5670643.15118488, 5669661.0299257 ,
       5668672.48250906, 5667677.51069231, 5666676.11623993,
       5665668.30092384, 5664654.06652285, 5663633.4148236 ,
       5662606.3476195 , 5661572.8667116 , 5660532.97390813,
       5659486.6710246 , 5658433.95988393, 5657374.84231589,
       5656309.3201581 , 5655237.39525489, 5654159.06945828,
       5653074.34462748, 5651983.22262854, 5650885.70533561,
       5649781.79462935, 5648671.4923978 , 5647554.8005365 ,
       5646431.72094811, 5645302.25554256, 5644166.40623711,
       5643024.17495605, 5641875.56363088, 5640720.5742006 ,
       5639559.20861131, 5638391.46881648, 5637217.35677641,
       5636036.87445904, 5634850.02383948, 5633656.8068996 ,
       5632457.22562934, 5631251.28202486, 5630038.97809041,
       5628820.31583708, 5627595.29728289, 5626363.9244536 ,
       5625126.19938154, 5623882.12410694, 5622631.70067703,
       5621374.93114547, 5620111.81757432, 5618842.3620319 ,
       5617566.56659427, 5616284.43334419, 5614995.964372  ,
       5613701.16177509, 5612400.02765796, 5611092.56413261,
       5609778.77331728, 5608458.65733852, 5607132.21832951,
       5605799.45843042, 5604460.37978897, 5603114.98455959,
       5601763.27490436, 5600405.25299202, 5599040.92099877,
       5597670.28110787, 5596293.33550971, 5594910.08640195,
       5593520.53598913, 5592124.68648289, 5590722.54010226,
       5589314.09907318, 5587899.36562917, 5586478.34201024,
       5585051.03046377, 5583617.43324405, 5582177.55261302,
       5580731.39083941, 5579278.95019874, 5577820.23297426,
       5576355.24145552, 5574883.97794025, 5573406.44473194,
       5571922.64414247, 5570432.57848997, 5568936.25009945,
       5567433.66130434, 5565924.8144435 , 5564409.71186384,
       5562888.35591917, 5561360.74896997, 5559826.8933846 ,
       5558286.79153757, 5556740.44581109, 5555187.85859413,
       5553629.03228237, 5552063.96927978, 5550492.67199577,
       5548915.14284797, 5547331.38426034, 5545741.3986643 ,
       5544145.18849814, 5542542.75620695, 5540934.10424385,
       5539319.23506746, 5537698.15114443, 5536070.85494817,
       5534437.34895911, 5532797.63566477, 5531151.71755939,
       5529499.59714462, 5527841.27692857, 5526176.75942719,
       5524506.04716238, 5522829.14266362, 5521146.04846768,
       5519456.76711758, 5517761.30116392, 5516059.65316376,
       5514351.82568168, 5512637.82128867, 5510917.64256296,
       5509191.29209014, 5507458.7724621 , 5505720.08627795,
       5503975.23614362, 5502224.22467209, 5500467.05448375,
       5498703.72820508, 5496934.24847016, 5495158.6179195 ,
       5493376.83920094, 5491588.91496906, 5489794.84788546,
       5487994.64061869, 5486188.29584393, 5484375.81624355,
       5482557.20450678, 5480732.46333002, 5478901.59541573,
       5477064.60347411, 5475221.49022196, 5473372.25838302,
       5471516.91068796, 5469655.44987407, 5467787.87868578,
       5465914.19987439, 5464034.416198  , 5462148.53042183,
       5460256.54531713, 5458358.46366334, 5456454.28824537,
       5454544.0218561 , 5452627.66729483, 5450705.22736744,
       5448776.70488724, 5446842.10267361, 5444901.42355377,
       5442954.67036093, 5441001.84593525, 5439042.95312438,
       5437077.9947819 , 5435106.97376876, 5433129.89295275,
       5431146.75520805, 5429157.56341604, 5427162.32046465,
       5425161.02924915, 5423153.69267092, 5421140.3136383 ,
       5419120.89506669, 5417095.43987815, 5415063.95100144,
       5413026.43137233, 5410982.88393303, 5408933.31163251,
       5406877.71742718, 5404816.1042793 , 5402748.47515852,
       5400674.83304111, 5398595.18090984, 5396509.52175445,
       5394417.8585715 , 5392320.19436431, 5390216.53214264,
       5388106.87492292, 5385991.22572911, 5383869.58759095,
       5381741.9635455 , 5379608.35663613, 5377468.76991328])

In [181]:
loc_geocentric.shape

(204, 3)

In [143]:
pd.DataFrame(loc_geocentric,  columns=['X(km)','Y(km)','Z(km)'])

           X(km)        Y(km)        Z(km)
0    5394.205772 -4537.443947   -38.571297
1    5393.561744 -4538.156591   -46.056554
2    5392.911495 -4538.863994   -53.541758
3    5392.255026 -4539.566154   -61.026901
4    5391.592339 -4540.263068   -68.511975
..           ...          ...          ...
156  5219.642891 -4584.344872 -1200.337757
157  5218.051286 -4584.223292 -1207.711725
158  5216.453785 -4584.096282 -1215.084314
159  5214.850389 -4583.963842 -1222.455516
160  5213.241101 -4583.825972 -1229.825322

[161 rows x 3 columns]

In [125]:
pd.DataFrame(loc_geodetic, columns=['lon(deg)','lat(deg)','height(km)'])

      lon(deg)   lat(deg)  height(km)
0   -40.069539  -0.315431  670.788470
1   -40.077342  -0.376645  670.799634
2   -40.085145  -0.437858  670.810790
3   -40.092948  -0.499072  670.821938
4   -40.100751  -0.560285  670.833079
..         ...        ...         ...
156 -41.292419  -9.861615  672.428877
157 -41.300330  -9.922783  672.438639
158 -41.308242  -9.983951  672.448390
159 -41.316155 -10.045119  672.458129
160 -41.324070 -10.106287  672.467857

[161 rows x 3 columns]

In [91]:
enu_df = pd.DataFrame(enu_p, columns = ['ENU_E(m)','ENU_N(m)','ENU_U(m)'])

enu_df

          ENU_E(m)       ENU_N(m)       ENU_U(m)
0   -602307.176699  682051.487136  611559.310061
1   -603260.684078  674594.226802  612216.422654
2   -604213.489698  667136.182382  612865.468310
3   -605165.591299  659677.362412  613506.446427
4   -606116.986621  652217.775428  614139.356411
..             ...            ...            ...
156 -741190.630480 -485450.660314  616388.897055
157 -742007.962309 -492926.757181  615786.120227
158 -742824.252501 -500402.302530  615175.296175
159 -743639.498975 -507877.287815  614556.425761
160 -744453.699652 -515351.704485  613929.509858

[161 rows x 3 columns]

In [6]:
aer_df = pd.DataFrame(azelr, columns = ['AZ(deg)','ELEV(deg)','RANGE(m)'])
aer_df

        AZ(deg)  ELEV(deg)      RANGE(m)
0    318.552866  33.904917  1.096345e+06
1    318.195099  34.078046  1.092616e+06
2    317.833418  34.250982  1.088921e+06
3    317.467787  34.423692  1.085260e+06
4    317.098170  34.596141  1.081634e+06
..          ...        ...           ...
156  236.776781  34.825768  1.079334e+06
157  236.403330  34.654592  1.082934e+06
158  236.033888  34.483120  1.086568e+06
159  235.668421  34.311387  1.090238e+06
160  235.306892  34.139428  1.093942e+06

[161 rows x 3 columns]

In [114]:
conca = enu_df.join( aer_df)
conca

,ENU_E(m),ENU_N(m),ENU_U(m),AZ(deg),ELEV(deg),RANGE(m)
0,-602307.176699,682051.487136,611559.310061,318.552866,33.904917,1.096345e+06
1,-603260.684078,674594.226802,612216.422654,318.195099,34.078046,1.092616e+06
2,-604213.489698,667136.182382,612865.468310,317.833418,34.250982,1.088921e+06
3,-605165.591299,659677.362412,613506.446427,317.467787,34.423692,1.085260e+06
4,-606116.986621,652217.775428,614139.356411,317.098170,34.596141,1.081634e+06
...,...,...,...,...,...,...
156,-741190.630480,-485450.660314,616388.897055,236.776781,34.825768,1.079334e+06
157,-742007.962309,-492926.757181,615786.120227,236.403330,34.654592,1.082934e+06
158,-742824.252501,-500402.302530,615175.296175,236.033888,34.483120,1.086568e+06
159,-743639.498975,-507877.287815,614556.425761,235.668421,34.311387,1.090238e+06
160,-744453.699652,-515351.704485,613929.509858,235.306892,34.139428,1.093942e+06

In [87]:
location.value[0]

(5394.20577168, -4537.44394659, -38.57129728)

In [41]:
azelr[0]

array([3.18552866e+02, 3.39049174e+01, 1.09634527e+06])

In [89]:
alt_az[0]

<AltAz Coordinate (obstime=2022-08-11T15:00:54.000, location=(5186315.09144039, -3654173.38027844, -653865.96464262) m, pressure=0.0 hPa, temperature=0.0 deg_C, relative_humidity=0.0, obswl=1.0 micron): (az, alt, distance) in (deg, deg, km)
    (318.57173307, 33.92144438, 1095.90569378)>

In [263]:
np.shape(enu_p)

(233, 3)

In [151]:
import numpy as np
orbital_elem = pd.read_csv("traj_data.csv").to_dict('records')
lc = LocalFrame(-5.923654, -35.167755, 50)

usecols = ['NORAD_CAT_ID', 'H0', 'N_PT']
df_conf = pd.read_csv("traj_data.csv",usecols=usecols)

# df_conf = pd.read_csv("traj_data.csv")

ini = time.time()

for index, row in df_conf.iterrows():
    satellite = Satrec()
    orbital_elem_row = next(x for x in orbital_elem if x["NORAD_CAT_ID"] == row['NORAD_CAT_ID'])
    omm.initialize(satellite, orbital_elem_row)
    propag = PropagInit(satellite, lc, 1) 
    pos = propag.orbitpropag(Time(row['H0'], format='isot'),row['N_PT'])
    
    break

fim = time.time()
print("Tempo: ", fim - ini)

NORAD: 2142 dmin= 776821.976
Tempo:  0.39698338508605957

WARNING: TimeDeltaMissingUnitWarning: Numerical value without unit or explicit format passed to TimeDelta, assuming days [astropy.time.core]

In [232]:
import numpy as np
orbital_elem = pd.read_csv("traj_data.csv").to_dict('records')
lc = LocalFrame(-5.923654, -35.167755, 50)

usecols = ['NORAD_CAT_ID', 'H0', 'N_PT']
df_conf = pd.read_csv("traj_data.csv",usecols=usecols)

# df_conf = pd.read_csv("traj_data.csv")

ini = time.time()
sdf = SummarizeDataFiles()
for index, row in df_conf.iterrows():
    satellite = Satrec()
    orbital_elem_row = next(x for x in orbital_elem if x["NORAD_CAT_ID"] == row['NORAD_CAT_ID'])
    omm.initialize(satellite, orbital_elem_row)
    propag = PropagInit(satellite, lc, 1) 
    pos = propag.orbit_propag(Time(row['H0'], format='isot'),row['N_PT'])
    sdf.save_trajectories(pos,orbital_elem_row)
    break

fim = time.time()
print("Tempo: ", fim - ini)

Tempo:  0.0039997100830078125

In [200]:
np.shape(pos.dist )

(1, 3)

In [231]:
class SummarizeDataFiles:
    def __init__(self):
        self.sel_orbital_elem = []
        self.sel_resume = { "H0":[], "DIST_H0":[],"H_DIST_MIN":[],"PT_DIST_MIN":[],
                    "DIST_MIN":[],"HF":[], "N_PT":[], "DIST_HF":[],"RCS":[] }

    def save_trajectories(self,pos,orbital_elem): 
        for i in range(0, len(pos.traj)):
            tempo = pos.tempo[i]
            posenu = pos.traj[i]
            distenu = pos.dist[i]
            
            ttxt = tempo[0].strftime('%Y_%m_%d-H0-%H_%M_%S')

            # Summarized data set of the trajectories obtained
            self.sel_orbital_elem.append(orbital_elem) 

            self.sel_resume["RCS"].append(orbital_elem['RCS_SIZE'])
            self.sel_resume["H0"].append(tempo[0].value)
            self.sel_resume["DIST_H0"].append(distenu[0])
            self.sel_resume["H_DIST_MIN"].append(pos.hdmin[i].value[11:])
            self.sel_resume["PT_DIST_MIN"].append(pos.hrmin[i])
            self.sel_resume["DIST_MIN"].append(pos.dmin[i])
            self.sel_resume["HF"].append(tempo[len(tempo) - 1].value[11:])
            self.sel_resume["N_PT"].append(len(distenu) - 1)
            self.sel_resume["DIST_HF"].append(distenu[len(distenu) - 1])

In [233]:
sdf.sel_resume

{'H0': ['2022-08-06T12:30:39.000'],
 'DIST_H0': [1070257.5070111575],
 'H_DIST_MIN': ['12:32:39.000'],
 'PT_DIST_MIN': [120],
 'DIST_MIN': [11266.620239357559],
 'HF': ['12:34:31.000'],
 'N_PT': [232],
 'DIST_HF': [1261516.725177206],
 'RCS': ['LARGE']}

In [56]:
norad_id = pd.read_csv("orbital_elem1.csv")
norad_id_c = norad_id.drop_duplicates(subset=['NORAD_CAT_ID'])

In [57]:
norad_id.shape

(68, 40)

In [58]:
norad_id_c.shape

(50, 40)

## Procura automática de H0 Backup

In [ ]:
# Para Editar:

import numpy as np
from scipy.signal import argrelextrema

orbital_elem = pd.read_csv("orbital_elem.csv").to_dict('records')
lc = LocalFrame(-5.923654, -35.167755, 50)

t_inic=Time('2022-08-11T00:00:00.000', format='isot', scale='utc')     # momento de inicio da busca
t_final= Time('2022-08-18T00:00:00.000', format='isot', scale='utc')   # momento de parar a busca

sample_fast = 60
dist_max =1100000

def calc(orbital_elem, init,end, sample_time):    
    satellite = Satrec()
    omm.initialize(satellite, orbital_elem)
    pts = (end -init)/TimeDelta(sample_time * u.s)
    time_array = np.linspace(init, end ,int(pts.value)+1)
    print(time_array.shape )
    error_code, teme_p, teme_v = satellite.sgp4_array(time_array.jd1, time_array.jd2)
    x, y, z = teme_p[:,0], teme_p[:,1], teme_p[:,2]
    teme_p = CartesianRepresentation(x*u.km, y*u.km, z*u.km)
    teme = TEME(teme_p, obstime=time_array)  
    itrsp = teme.transform_to(ITRS(obstime=time_array))
    location = itrsp.earth_location
    enu_p = pm.ecef2enu(1000 * location.x.value, 1000 * location.y.value, 1000 * location.z.value, lc.lat,
                                lc.lon, lc.height)
    
    enu_p = np.transpose(enu_p) 
    enu_d = np.linalg.norm(enu_p,axis=1)
    #print(enu_d )
    return time_array, enu_p, enu_d

ini = time.time()

time_array, enu_p, enu_d = calc(orbital_elem[20], t_inic, t_final, sample_fast)

# satellite = Satrec()
# omm.initialize(satellite, orbital_elem[20])


# time_array = np.linspace(t_inic,t_final,int(pts.value)+1 )
# #print(time_array.value )
# error_code, teme_p, teme_v = satellite.sgp4_array(time_array.jd1, time_array.jd2)
# x, y, z = teme_p[:,0], teme_p[:,1], teme_p[:,2]
# teme_p = CartesianRepresentation(x*u.km, y*u.km, z*u.km)
# teme = TEME(teme_p, obstime=time_array)  
# itrsp = teme.transform_to(ITRS(obstime=time_array))
# location = itrsp.earth_location
# enu_p = pm.ecef2enu(1000 * location.x.value, 1000 * location.y.value, 1000 * location.z.value, lc.lat,
#                              lc.lon, lc.height)

#enu_p = np.transpose(enu_p)
# idx_z_pos = np.where(enu_p[:,2] > 0)[0]
# #print(idx_z_pos)
# enu_p_z = enu_p[idx_z_pos]
# #print(enu_p_z)
# enu_d = np.linalg.norm(enu_p_z,axis=1)
# idx_d = np.where(enu_d < 5000000)[0]
# #print(enu_d[idx_d])
# enu_d5 = enu_d[idx_d]
# index = argrelextrema(enu_d5, np.less)
# print(enu_d[index])

# enu_p = np.transpose(enu_p) 
# enu_d = np.linalg.norm(enu_p,axis=1)
# #print(enu_d)
# index = argrelextrema(enu_d, np.less)
# enu_d_min =  enu_d[index]
# idx_d_val = np.where(enu_d_min < 1100000)[0]

# enu_p = np.transpose(enu_p) 
# enu_d = np.linalg.norm(enu_p,axis=1)
# index = argrelextrema(enu_d, np.less)
# enu_d_min =  enu_d[index]
# tim_s = time_array[index]
# idx_d_val = np.where((enu_d_min < 1*1100000)&(enu_d_min >0) )[0]

# enu_p = np.transpose(enu_p) 
# enu_d = np.linalg.norm(enu_p,axis=1)
# a = enu_p[:,2] - 0.5*enu_d # angulo de 30 no ref ENU, 0.5 = sin(30)
# idx1 = np.where(a[:-1] * a[1:] < 0 )[0] +1
# tim_s = time_array[idx1]
# print(a[358:362])
# print(idx1)

dist_dif = enu_d - dist_max # angulo de 30 no ref ENU, 0.5 = sin(30)
idx1 = np.where(dist_dif[:-1] * dist_dif[1:] < 0 )[0] +1
tim_s = time_array[idx1]
# print(dist_dif[357:363])
# print(idx1)
# print(tim_s.value)

# index_min = argrelextrema(enu_p[:,2], np.greater)
# index_in_ot = np.where((np.abs(enu_p[:,2]) < 1*1100000)&(enu_d_min >0) )[0]
# tim_s = time_array[index]
# idx_d_val = np.where((enu_d_min < 1*1100000)&(enu_d_min >0) )[0]

# time_selec = tim_s[idx_d_val]
fim = time.time()
print("Tempo: ", fim - ini)

ini = time.time()

i = 0
while i < len(idx1)-1:
    if dist_dif[idx1[i]]<0:
        #print( 'H0: {}, HF: {}, d: {} \n'.format(time_array[idx1[i]], time_array[idx1[i+1]], enu_d[idx1[i]] ))
        time_array1, enu_p, enu_d = calc(orbital_elem[20],time_array[idx1[i]],time_array[idx1[i+1]], 1)
        print( 'H0: {}, HF: {}, d: {} \n'.format(time_array1[0], time_array1[-1], np.min(enu_d) ))
        i+=2
    else: i+=1
    
#     enu_p = np.transpose(enu_p) 
#     enu_d = np.linalg.norm(enu_p,axis=1)
#     index = argrelextrema(enu_d, np.less)
#     enu_d_min =  enu_d[index]
#     idx_d_traj = np.where(enu_d < 1100000)[0]
#     traj = enu_d[idx_d_traj]

fim = time.time()
print("Tempo: ", fim - ini)

# #print(traj)
# print(enu_d)

In [ ]:
            df_conf = pd.DataFrame(np.concatenate((lc.lat,lc.lon,lc.height, dmax,dmin, sample_time ), axis=1),
                                    columns=[ 'POINT_LAT(deg)','POINT_LON(deg)','POINT_HEIG(m)',
                                        'MAX_RANGE(Km)','MIN_HANGE(Km)','POINT_HEIG(m)','SAMPLE_TIME(s)'])
            df_conf.to_csv(dir_name + "/"+ date_time[0:-4] +"_conf_summary.csv", index=False)

In [10]:
import pandas as pd

df = pd.read_csv('https://celestrak.org/NORAD/elements/gp.php?CATNR=25544&FORMAT=csv')

df

,OBJECT_NAME,OBJECT_ID,EPOCH,MEAN_MOTION,ECCENTRICITY,INCLINATION,RA_OF_ASC_NODE,ARG_OF_PERICENTER,MEAN_ANOMALY,EPHEMERIS_TYPE,CLASSIFICATION_TYPE,NORAD_CAT_ID,ELEMENT_SET_NO,REV_AT_EPOCH,BSTAR,MEAN_MOTION_DOT,MEAN_MOTION_DDOT
0,ISS (ZARYA),1998-067A,2022-08-17T20:17:15.171072,15.502142,0.000553,51.643,31.1298,133.1079,8.5802,0,U,25544,999,35474,0.000105,0.000056,0

In [7]:
df

Empty DataFrame
Columns: [No GP data found]
Index: []

In [11]:
xx = { "H0":0, "RANGE_H0":0,"MIN_RANGE_H":0}

In [20]:
rcs = pd.read_csv('RCS.csv').to_dict('list')

In [23]:
rcs['RCS'][rcs['NORAD_CAT_ID'].index(25544)]

399.0524

In [19]:
import pandas as pd
satcat_df = pd.read_csv('https://celestrak.org/pub/satcat.csv')

In [20]:
satcat_df.head()

,OBJECT_NAME,OBJECT_ID,NORAD_CAT_ID,OBJECT_TYPE,OPS_STATUS_CODE,OWNER,LAUNCH_DATE,LAUNCH_SITE,DECAY_DATE,PERIOD,INCLINATION,APOGEE,PERIGEE,RCS,DATA_STATUS_CODE,ORBIT_CENTER,ORBIT_TYPE
0,SL-1 R/B,1957-001A,1,R/B,D,CIS,1957-10-04,TYMSC,1957-12-01,96.19,65.10,938.0,214.0,20.420,NaN,EA,IMP
1,SPUTNIK 1,1957-001B,2,PAY,D,CIS,1957-10-04,TYMSC,1958-01-03,96.10,65.00,1080.0,64.0,NaN,NaN,EA,IMP
2,SPUTNIK 2,1957-002A,3,PAY,D,CIS,1957-11-03,TYMSC,1958-04-14,103.74,65.33,1659.0,211.0,0.080,NaN,EA,IMP
3,EXPLORER 1,1958-001A,4,PAY,D,US,1958-02-01,AFETR,1970-03-31,88.48,33.15,215.0,183.0,NaN,NaN,EA,IMP
4,VANGUARD 1,1958-002B,5,PAY,NaN,US,1958-03-17,AFETR,NaN,132.72,34.26,3833.0,648.0,0.122,NaN,EA,ORB

In [21]:
# df.drop(df.loc[df['line_race']==0].index, inplace=True)
from asyncio.windows_events import NULL
from cmath import nan


satcat_df.drop(satcat_df.loc[satcat_df['DECAY_DATE']!=NULL].index, inplace=True)

In [22]:
satcat_df

Empty DataFrame
Columns: [OBJECT_NAME, OBJECT_ID, NORAD_CAT_ID, OBJECT_TYPE, OPS_STATUS_CODE, OWNER, LAUNCH_DATE, LAUNCH_SITE, DECAY_DATE, PERIOD, INCLINATION, APOGEE, PERIGEE, RCS, DATA_STATUS_CODE, ORBIT_CENTER, ORBIT_TYPE]
Index: []

In [28]:
from spacetrack import SpaceTrackClient
from io import StringIO

with open('secret.txt') as file:
    passw = file.read()

stc = SpaceTrackClient(identity='francisval20@yahoo.com.br', password=passw)    
try:
    stc.authenticate()
except:
    log_error = '<p style="font-family:sans-serif; color:Red; font-size: 16px;">Space-Track Loguin Error</p>'
    print('space-track loguin error')
#tlevec_csv = stc.gp(norad_cat_id=norad_ids, orderby='norad_cat_id', format='csv')
# tlevec_csv = stc.omm(norad_cat_id=25544, orderby='epoch desc', limit=22, format='csv')
# elem_df = pd.read_csv(StringIO(tlevec_csv), sep=",")

In [ ]:
tlevec_csv = stc.omm(norad_cat_id=25544, orderby='epoch desc', limit=22, format='csv')
elem_df = pd.read_csv(StringIO(tlevec_csv), sep=",")

In [32]:
import spacetrack.operators as op
tlevec_csv = stc.satcat(period=op.less_than(128), decay=None, current='Y',format='csv')
elem_df = pd.read_csv(StringIO(tlevec_csv), sep=",")

In [33]:
elem_df.shape

(20036, 24)

In [ ]:
elem_df.columns.to_list()