In [13]:
from astropy.time import Time

Time('2022-08-07T13:00:00.000', format='isot').strftime('%Y_%m_%d_%H_%M_%S_%f')

'2022_08_07_13_00_00_000'

In [16]:
from astropy.time import Time

Time('2022-08-07T13:00:00.000', format='isot').strftime('%Y_%m_%d-H0-%H_%M_%STU')

'2022_08_07-H0-13_00_00TU'

In [9]:
import time
from datetime import datetime
datetime.utcnow().strftime('%Y_%m_%d_%H_%M_%S_%f')[:-3]

'2022_08_07_22_46_51_803'

In [8]:
ini

1659912296.9704778

In [15]:
import pandas as pd
traj_data = pd.read_csv("traj_data.csv")
traj_data.columns.to_list()

['H0',
 'DIST_H0',
 'H_DIST_MIN',
 'PT_DIST_MIN',
 'DIST_MIN',
 'HF',
 'N_PT',
 'DIST_HF',
 'RCS',
 'CCSDS_OMM_VERS',
 'COMMENT',
 'CREATION_DATE',
 'ORIGINATOR',
 'OBJECT_NAME',
 'OBJECT_ID',
 'CENTER_NAME',
 'REF_FRAME',
 'TIME_SYSTEM',
 'MEAN_ELEMENT_THEORY',
 'EPOCH',
 'MEAN_MOTION',
 'ECCENTRICITY',
 'INCLINATION',
 'RA_OF_ASC_NODE',
 'ARG_OF_PERICENTER',
 'MEAN_ANOMALY',
 'EPHEMERIS_TYPE',
 'CLASSIFICATION_TYPE',
 'NORAD_CAT_ID',
 'ELEMENT_SET_NO',
 'REV_AT_EPOCH',
 'BSTAR',
 'MEAN_MOTION_DOT',
 'MEAN_MOTION_DDOT',
 'SEMIMAJOR_AXIS',
 'PERIOD',
 'APOAPSIS',
 'PERIAPSIS',
 'OBJECT_TYPE',
 'RCS_SIZE',
 'COUNTRY_CODE',
 'LAUNCH_DATE',
 'SITE',
 'DECAY_DATE',
 'FILE',
 'GP_ID',
 'TLE_LINE0',
 'TLE_LINE1',
 'TLE_LINE2']

In [ ]:
traj_data.head()

In [11]:
traj_data.loc[11]['NORAD_CAT_ID']

15772

In [ ]:
for i in range(len(traj_data.index)):
    print(traj_data.loc[i]['NORAD_CAT_ID'])

In [ ]:
for row in traj_data.itertuples():
    print(row[29])

In [ ]:
for index, row in traj_data.iterrows():
    print(row['NORAD_CAT_ID'])
    print(index)

In [27]:
usecols = ['NORAD_CAT_ID', 'H0', 'N_PT']
df_conf = pd.read_csv("traj_data.csv",usecols=usecols)

In [ ]:
df_conf

In [32]:
orbital_elem = df_conf.to_dict('records')
orbital_elem

[{'H0': '2022-08-06T12:30:39.000', 'N_PT': 233, 'NORAD_CAT_ID': 2142},
 {'H0': '2022-08-06T15:02:03.000', 'N_PT': 220, 'NORAD_CAT_ID': 2621},
 {'H0': '2022-08-06T16:28:31.000', 'N_PT': 251, 'NORAD_CAT_ID': 3598},
 {'H0': '2022-08-06T11:38:16.000', 'N_PT': 138, 'NORAD_CAT_ID': 10096},
 {'H0': '2022-08-06T16:54:24.000', 'N_PT': 251, 'NORAD_CAT_ID': 10114},
 {'H0': '2022-08-06T16:05:04.000', 'N_PT': 191, 'NORAD_CAT_ID': 12155},
 {'H0': '2022-08-06T11:42:58.000', 'N_PT': 219, 'NORAD_CAT_ID': 13154},
 {'H0': '2022-08-06T12:17:31.000', 'N_PT': 246, 'NORAD_CAT_ID': 13553},
 {'H0': '2022-08-06T17:30:54.000', 'N_PT': 247, 'NORAD_CAT_ID': 13771},
 {'H0': '2022-08-06T13:02:34.000', 'N_PT': 209, 'NORAD_CAT_ID': 14373},
 {'H0': '2022-08-06T18:12:34.000', 'N_PT': 189, 'NORAD_CAT_ID': 15755},
 {'H0': '2022-08-06T15:47:50.000', 'N_PT': 203, 'NORAD_CAT_ID': 15772},
 {'H0': '2022-08-06T15:34:11.000', 'N_PT': 250, 'NORAD_CAT_ID': 16263},
 {'H0': '2022-08-06T14:54:55.000', 'N_PT': 130, 'NORAD_CAT_ID': 16327},
 {'H0': '2022-08-06T18:27:14.000', 'N_PT': 127, 'NORAD_CAT_ID': 16528},
 {'H0': '2022-08-06T12:32:44.000', 'N_PT': 211, 'NORAD_CAT_ID': 16720},
 {'H0': '2022-08-06T11:00:00.000', 'N_PT': 72, 'NORAD_CAT_ID': 17912},
 {'H0': '2022-08-06T15:13:30.000', 'N_PT': 228, 'NORAD_CAT_ID': 18215},
 {'H0': '2022-08-06T14:09:45.000', 'N_PT': 187, 'NORAD_CAT_ID': 18959},
 {'H0': '2022-08-06T13:15:37.000', 'N_PT': 286, 'NORAD_CAT_ID': 20303},
 {'H0': '2022-08-06T18:02:23.000', 'N_PT': 258, 'NORAD_CAT_ID': 20580},
 {'H0': '2022-08-06T11:32:51.000', 'N_PT': 128, 'NORAD_CAT_ID': 21398},
 {'H0': '2022-08-06T18:09:07.000', 'N_PT': 244, 'NORAD_CAT_ID': 22015},
 {'H0': '2022-08-06T11:21:57.000', 'N_PT': 242, 'NORAD_CAT_ID': 23343},
 {'H0': '2022-08-06T11:00:00.000', 'N_PT': 164, 'NORAD_CAT_ID': 24809},
 {'H0': '2022-08-06T18:28:50.000', 'N_PT': 213, 'NORAD_CAT_ID': 25261},
 {'H0': '2022-08-06T11:20:08.000', 'N_PT': 213, 'NORAD_CAT_ID': 25544},
 {'H0': '2022-08-06T11:40:42.000', 'N_PT': 164, 'NORAD_CAT_ID': 25619},
 {'H0': '2022-08-06T13:56:49.000', 'N_PT': 210, 'NORAD_CAT_ID': 25667},
 {'H0': '2022-08-06T12:21:00.000', 'N_PT': 265, 'NORAD_CAT_ID': 27371},
 {'H0': '2022-08-06T11:26:16.000', 'N_PT': 171, 'NORAD_CAT_ID': 27740},
 {'H0': '2022-08-06T13:47:45.000', 'N_PT': 248, 'NORAD_CAT_ID': 27740},
 {'H0': '2022-08-06T16:09:58.000', 'N_PT': 172, 'NORAD_CAT_ID': 27740},
 {'H0': '2022-08-06T16:00:14.000', 'N_PT': 131, 'NORAD_CAT_ID': 27944},
 {'H0': '2022-08-06T11:48:08.000', 'N_PT': 211, 'NORAD_CAT_ID': 28118},
 {'H0': '2022-08-06T13:45:38.000', 'N_PT': 177, 'NORAD_CAT_ID': 28118},
 {'H0': '2022-08-06T15:28:26.000', 'N_PT': 235, 'NORAD_CAT_ID': 28499},
 {'H0': '2022-08-06T15:29:07.000', 'N_PT': 212, 'NORAD_CAT_ID': 28983},
 {'H0': '2022-08-06T11:03:59.000', 'N_PT': 232, 'NORAD_CAT_ID': 29517},
 {'H0': '2022-08-06T12:51:41.000', 'N_PT': 156, 'NORAD_CAT_ID': 31305},
 {'H0': '2022-08-06T15:52:59.000', 'N_PT': 216, 'NORAD_CAT_ID': 32766},
 {'H0': '2022-08-06T17:29:31.000', 'N_PT': 295, 'NORAD_CAT_ID': 32766},
 {'H0': '2022-08-06T16:52:35.000', 'N_PT': 202, 'NORAD_CAT_ID': 33272},
 {'H0': '2022-08-06T15:31:17.000', 'N_PT': 162, 'NORAD_CAT_ID': 33500},
 {'H0': '2022-08-06T12:44:01.000', 'N_PT': 169, 'NORAD_CAT_ID': 36508},
 {'H0': '2022-08-06T16:40:54.000', 'N_PT': 167, 'NORAD_CAT_ID': 37778},
 {'H0': '2022-08-06T11:38:02.000', 'N_PT': 195, 'NORAD_CAT_ID': 38771},
 {'H0': '2022-08-06T13:21:45.000', 'N_PT': 246, 'NORAD_CAT_ID': 39242},
 {'H0': '2022-08-06T11:47:27.000', 'N_PT': 137, 'NORAD_CAT_ID': 39364},
 {'H0': '2022-08-06T16:38:21.000', 'N_PT': 235, 'NORAD_CAT_ID': 39625},
 {'H0': '2022-08-06T13:00:21.000', 'N_PT': 150, 'NORAD_CAT_ID': 39771},
 {'H0': '2022-08-06T14:33:11.000', 'N_PT': 205, 'NORAD_CAT_ID': 40047},
 {'H0': '2022-08-06T17:41:50.000', 'N_PT': 213, 'NORAD_CAT_ID': 40262},
 {'H0': '2022-08-06T12:07:56.000', 'N_PT': 214, 'NORAD_CAT_ID': 40287},
 {'H0': '2022-08-06T18:42:40.000', 'N_PT': 219, 'NORAD_CAT_ID': 40306},
 {'H0': '2022-08-06T18:31:26.000', 'N_PT': 183, 'NORAD_CAT_ID': 40358},
 {'H0': '2022-08-06T11:58:55.000', 'N_PT': 166, 'NORAD_CAT_ID': 40699},
 {'H0': '2022-08-06T14:55:03.000', 'N_PT': 219, 'NORAD_CAT_ID': 40720},
 {'H0': '2022-08-06T14:28:07.000', 'N_PT': 252, 'NORAD_CAT_ID': 41333},
 {'H0': '2022-08-06T12:27:12.000', 'N_PT': 188, 'NORAD_CAT_ID': 41335},
 {'H0': '2022-08-06T11:12:32.000', 'N_PT': 273, 'NORAD_CAT_ID': 41341},
 {'H0': '2022-08-06T12:53:52.000', 'N_PT': 263, 'NORAD_CAT_ID': 42052}]

In [39]:
list(filter(lambda item: item['NORAD_CAT_ID'] == 16327 , orbital_elem))[0] # row['NORAD_CAT_ID']

{'H0': '2022-08-06T14:54:55.000', 'N_PT': 130, 'NORAD_CAT_ID': 16327}

In [50]:
next(x for x in orbital_elem if x["NORAD_CAT_ID"] == row['NORAD_CAT_ID'])

{'H0': '2022-08-06T12:30:39.000', 'N_PT': 233, 'NORAD_CAT_ID': 2142}

In [16]:
col_list = traj_data.columns.to_list()
col_first = ['NORAD_CAT_ID','OBJECT_NAME']
for line in col_first: col_list.remove(line)
col_first.extend(col_list)
col_first

['NORAD_CAT_ID',
 'OBJECT_NAME',
 'H0',
 'DIST_H0',
 'H_DIST_MIN',
 'PT_DIST_MIN',
 'DIST_MIN',
 'HF',
 'N_PT',
 'DIST_HF',
 'RCS',
 'CCSDS_OMM_VERS',
 'COMMENT',
 'CREATION_DATE',
 'ORIGINATOR',
 'OBJECT_ID',
 'CENTER_NAME',
 'REF_FRAME',
 'TIME_SYSTEM',
 'MEAN_ELEMENT_THEORY',
 'EPOCH',
 'MEAN_MOTION',
 'ECCENTRICITY',
 'INCLINATION',
 'RA_OF_ASC_NODE',
 'ARG_OF_PERICENTER',
 'MEAN_ANOMALY',
 'EPHEMERIS_TYPE',
 'CLASSIFICATION_TYPE',
 'ELEMENT_SET_NO',
 'REV_AT_EPOCH',
 'BSTAR',
 'MEAN_MOTION_DOT',
 'MEAN_MOTION_DDOT',
 'SEMIMAJOR_AXIS',
 'PERIOD',
 'APOAPSIS',
 'PERIAPSIS',
 'OBJECT_TYPE',
 'RCS_SIZE',
 'COUNTRY_CODE',
 'LAUNCH_DATE',
 'SITE',
 'DECAY_DATE',
 'FILE',
 'GP_ID',
 'TLE_LINE0',
 'TLE_LINE1',
 'TLE_LINE2']

In [5]:
df = traj_data.reindex(columns=['NORAD_CAT_ID','OBJECT_NAME',])
df

SyntaxError: invalid syntax (1979405099.py, line 1)

In [3]:
header = [
    'NORAD_CAT_ID',
    'OBJECT_NAME',
    'EPOCH',
    'H0',
 'DIST_H0',
 'H_DIST_MIN',
 'PT_DIST_MIN',
 'DIST_MIN',
 'HF',
 'N_PT',
 'DIST_HF',
 'RCS',
 'CCSDS_OMM_VERS',
 'COMMENT',
 'CREATION_DATE',
 'ORIGINATOR',
 'OBJECT_ID',
 'CENTER_NAME',
 'REF_FRAME',
 'TIME_SYSTEM',
 'MEAN_ELEMENT_THEORY',
 'MEAN_MOTION',
 'ECCENTRICITY',
 'INCLINATION',
 'RA_OF_ASC_NODE',
 'ARG_OF_PERICENTER',
 'MEAN_ANOMALY',
 'EPHEMERIS_TYPE',
 'CLASSIFICATION_TYPE',
 'ELEMENT_SET_NO',
 'REV_AT_EPOCH',
 'BSTAR',
 'MEAN_MOTION_DOT',
 'MEAN_MOTION_DDOT',
 'SEMIMAJOR_AXIS',
 'PERIOD',
 'APOAPSIS',
 'PERIAPSIS',
 'OBJECT_TYPE',
 'RCS_SIZE',
 'COUNTRY_CODE',
 'LAUNCH_DATE',
 'SITE',
 'DECAY_DATE',
 'FILE',
 'GP_ID',
 'TLE_LINE0',
 'TLE_LINE1',
 'TLE_LINE2']
traj_data.to_csv('output.csv', columns = header, index=False)

In [1]:
import tempfile
dir_name = tempfile.gettempdir()
dir_name

'C:\\Users\\franc\\AppData\\Local\\Temp'

In [4]:
rcs1 = pd.read_csv("RCS.csv")
rcs1.head()

   NORAD_CAT_ID     RCS
0            47  2.9661
1            58  1.2843
2            59  3.4517
3           118  1.6476
4           134  1.5570

In [2]:
import json

try:
    with open('confElem.json', 'r') as fp:
        tlevec_json = json.load(fp)
    confElements = 'json'
except OSError as e:
    print(f"Error:{e.strerror}"+" ao ler o arquivo confElem.json")
    try:
        tle = T32leFileRead('conftle.txt')
        confElements = 'tle'
    except OSError as e:
        print(f"Error:{e.strerror}"+"ao ler o arquivo conftle.txt")

In [4]:
print(type(tlevec_json) )

<class 'list'>

In [8]:
print(type(tlevec_json[0]))

<class 'dict'>

In [10]:
print(tlevec_json[0])

{'CCSDS_OMM_VERS': '2.0', 'COMMENT': 'GENERATED VIA SPACE-TRACK.ORG API', 'CREATION_DATE': '2022-07-31T03:06:08', 'ORIGINATOR': '18 SPCS', 'OBJECT_NAME': 'TITAN 3C TRANSTAGE R/B', 'OBJECT_ID': '1965-108A', 'CENTER_NAME': 'EARTH', 'REF_FRAME': 'TEME', 'TIME_SYSTEM': 'UTC', 'MEAN_ELEMENT_THEORY': 'SGP4', 'EPOCH': '2022-07-30T07:21:15.435360', 'MEAN_MOTION': '3.86861601', 'ECCENTRICITY': '0.60784240', 'INCLINATION': '26.7079', 'RA_OF_ASC_NODE': '164.0781', 'ARG_OF_PERICENTER': '206.6270', 'MEAN_ANOMALY': '101.7451', 'EPHEMERIS_TYPE': '0', 'CLASSIFICATION_TYPE': 'U', 'NORAD_CAT_ID': '1863', 'ELEMENT_SET_NO': '999', 'REV_AT_EPOCH': '31260', 'BSTAR': '0.00043624000000', 'MEAN_MOTION_DOT': '0.00000594', 'MEAN_MOTION_DDOT': '0.0000000000000', 'SEMIMAJOR_AXIS': '17140.813', 'PERIOD': '372.226', 'APOAPSIS': '21181.591', 'PERIAPSIS': '343.765', 'OBJECT_TYPE': 'ROCKET BODY', 'RCS_SIZE': 'LARGE', 'COUNTRY_CODE': 'US', 'LAUNCH_DATE': '1965-12-21', 'SITE': 'AFETR', 'DECAY_DATE': None, 'FILE': '3525638', 'GP_ID': '209205440', 'TLE_LINE0': '0 TITAN 3C TRANSTAGE R/B', 'TLE_LINE1': '1 01863U 65108A   22211.30642865  .00000594  00000-0  43624-3 0  9990', 'TLE_LINE2': '2 01863  26.7079 164.0781 6078424 206.6270 101.7451  3.86861601312602'}

In [16]:
def get_elem():
    from spacetrack import SpaceTrackClient
    import pandas as pd
    #from StringIO import StringIO
    from io import StringIO
    # ----------------------------------------------------------------------
    # Atualiza a ultima versão dos elementos orbitais no site do Space-Track
    # ----------------------------------------------------------------------
    loguin = "francisval20@yahoo.com.br"
    password = "4mQivHD4CU934Z"
    norad_ids = [1328,7646,22698,22824,25991,27386,43477]    
    try:
        st = SpaceTrackClient(identity=loguin, password=password)
        tlevec_csv = st.gp(norad_cat_id=norad_ids, orderby='norad_cat_id', format='csv')
    except IOError:
        print('space-track loguin error')
        return False

In [17]:
get_elem()

error

False

In [23]:
from spacetrack import SpaceTrackClient
import pandas as pd
#from StringIO import StringIO
from io import StringIO
# ----------------------------------------------------------------------
# Atualiza a ultima versão dos elementos orbitais no site do Space-Track
# ----------------------------------------------------------------------
loguin = "francisval20@yahoo.com.br"
password = "4mQivHD4CU934ZV"
norad_ids = [1328,7646,22698,22824,25991,27386,43477]
st = SpaceTrackClient(identity=loguin, password=password)

In [24]:
st.authenticate()

In [ ]:
tlevec_csv = st.gp(norad_cat_id=norad_ids, orderby='norad_cat_id', format='csv')
df = pd.read_csv(StringIO(tlevec_csv), sep=",")

In [13]:
from spacetrack import SpaceTrackClient
import pandas as pd
#from StringIO import StringIO
from io import StringIO
# ----------------------------------------------------------------------
# Atualiza a ultima versão dos elementos orbitais no site do Space-Track
# ----------------------------------------------------------------------
loguin = "francisval20@yahoo.com.br"
password = "4mQivHD4CU934ZV"
norad_ids = [1328,7646,22698,22824,25991,27386,43477]
st = SpaceTrackClient(identity=loguin, password=password)
tlevec_csv = st.gp(norad_cat_id=norad_ids, orderby='norad_cat_id', format='csv')
df = pd.read_csv(StringIO(tlevec_csv), sep=",")

In [14]:
df.columns.to_list()

['CCSDS_OMM_VERS',
 'COMMENT',
 'CREATION_DATE',
 'ORIGINATOR',
 'OBJECT_NAME',
 'OBJECT_ID',
 'CENTER_NAME',
 'REF_FRAME',
 'TIME_SYSTEM',
 'MEAN_ELEMENT_THEORY',
 'EPOCH',
 'MEAN_MOTION',
 'ECCENTRICITY',
 'INCLINATION',
 'RA_OF_ASC_NODE',
 'ARG_OF_PERICENTER',
 'MEAN_ANOMALY',
 'EPHEMERIS_TYPE',
 'CLASSIFICATION_TYPE',
 'NORAD_CAT_ID',
 'ELEMENT_SET_NO',
 'REV_AT_EPOCH',
 'BSTAR',
 'MEAN_MOTION_DOT',
 'MEAN_MOTION_DDOT',
 'SEMIMAJOR_AXIS',
 'PERIOD',
 'APOAPSIS',
 'PERIAPSIS',
 'OBJECT_TYPE',
 'RCS_SIZE',
 'COUNTRY_CODE',
 'LAUNCH_DATE',
 'SITE',
 'DECAY_DATE',
 'FILE',
 'GP_ID',
 'TLE_LINE0',
 'TLE_LINE1',
 'TLE_LINE2']

In [ ]:
df.head()

In [18]:
# df_dict = df.to_dict('dict')

df_dict = df.to_dict('records')

In [ ]:
df_dict[5]

In [21]:
sel_orbital_elem = []

In [26]:
sel_orbital_elem.append(df_dict[3])

In [ ]:
sel_orbital_elem

In [ ]:
import pandas as pd
dicpd = pd.DataFrame(sel_orbital_elem)
dicpd.head()

In [13]:
df_dict = df.to_dict('list')

In [16]:
df_dict["NORAD_CAT_ID"]

[1328, 7646, 22698, 22824, 25991, 27386, 43477]

In [53]:
type(df_dict[0])

dict

In [48]:
import json

try:
    with open('confElem.json', 'r') as fp:
        tlevec_json = json.load(fp)
    confElements = 'json'
except OSError as e:
    print(f"Error:{e.strerror}"+" ao ler o arquivo confElem.json")
    try:
        tle = T32leFileRead('conftle.txt')
        confElements = 'tle'
    except OSError as e:
        print(f"Error:{e.strerror}"+"ao ler o arquivo conftle.txt")

In [49]:
tlevec_json[0]["TLE_LINE2"]

'2 01863  26.7079 164.0781 6078424 206.6270 101.7451  3.86861601312602'

In [52]:
type(tlevec_json[0])

dict

In [7]:
sel = { "NORAD_CAT_ID":[],
        "casa":[],
        "cac":[]
        }

In [8]:
sel["NORAD_CAT_ID"].append(210)
sel["NORAD_CAT_ID"].append(120)

sel["casa"].append(210)
sel["casa"].append(120)

sel["cac"].append(110)
sel["cac"].append(1)

In [3]:
sel

{'NORAD_CAT_ID': [210, 120], 'casa': [210, 120], 'cac': [110, 1]}

In [11]:
sel.keys()

dict_keys(['NORAD_CAT_ID', 'casa', 'cac'])

In [12]:
sel.items()

dict_items([('NORAD_CAT_ID', [210, 120]), ('casa', [210, 120]), ('cac', [110, 1])])

In [16]:
import pandas as pd
df = pd.DataFrame(sel)

In [17]:
df

   NORAD_CAT_ID  casa  cac
0           210   210  110
1           120   120    1