In [1]:
import pandas as pd

In [1]:
import tempfile
dir_name = tempfile.gettempdir()
dir_name

'C:\\Users\\franc\\AppData\\Local\\Temp'

In [4]:
rcs1 = pd.read_csv("RCS.csv")
rcs1.head()

   NORAD_CAT_ID     RCS
0            47  2.9661
1            58  1.2843
2            59  3.4517
3           118  1.6476
4           134  1.5570

In [2]:
import json

try:
    with open('confElem.json', 'r') as fp:
        tlevec_json = json.load(fp)
    confElements = 'json'
except OSError as e:
    print(f"Error:{e.strerror}"+" ao ler o arquivo confElem.json")
    try:
        tle = T32leFileRead('conftle.txt')
        confElements = 'tle'
    except OSError as e:
        print(f"Error:{e.strerror}"+"ao ler o arquivo conftle.txt")

In [4]:
print(type(tlevec_json) )

<class 'list'>

In [8]:
print(type(tlevec_json[0]))

<class 'dict'>

In [10]:
print(tlevec_json[0])

{'CCSDS_OMM_VERS': '2.0', 'COMMENT': 'GENERATED VIA SPACE-TRACK.ORG API', 'CREATION_DATE': '2022-07-31T03:06:08', 'ORIGINATOR': '18 SPCS', 'OBJECT_NAME': 'TITAN 3C TRANSTAGE R/B', 'OBJECT_ID': '1965-108A', 'CENTER_NAME': 'EARTH', 'REF_FRAME': 'TEME', 'TIME_SYSTEM': 'UTC', 'MEAN_ELEMENT_THEORY': 'SGP4', 'EPOCH': '2022-07-30T07:21:15.435360', 'MEAN_MOTION': '3.86861601', 'ECCENTRICITY': '0.60784240', 'INCLINATION': '26.7079', 'RA_OF_ASC_NODE': '164.0781', 'ARG_OF_PERICENTER': '206.6270', 'MEAN_ANOMALY': '101.7451', 'EPHEMERIS_TYPE': '0', 'CLASSIFICATION_TYPE': 'U', 'NORAD_CAT_ID': '1863', 'ELEMENT_SET_NO': '999', 'REV_AT_EPOCH': '31260', 'BSTAR': '0.00043624000000', 'MEAN_MOTION_DOT': '0.00000594', 'MEAN_MOTION_DDOT': '0.0000000000000', 'SEMIMAJOR_AXIS': '17140.813', 'PERIOD': '372.226', 'APOAPSIS': '21181.591', 'PERIAPSIS': '343.765', 'OBJECT_TYPE': 'ROCKET BODY', 'RCS_SIZE': 'LARGE', 'COUNTRY_CODE': 'US', 'LAUNCH_DATE': '1965-12-21', 'SITE': 'AFETR', 'DECAY_DATE': None, 'FILE': '3525638', 'GP_ID': '209205440', 'TLE_LINE0': '0 TITAN 3C TRANSTAGE R/B', 'TLE_LINE1': '1 01863U 65108A   22211.30642865  .00000594  00000-0  43624-3 0  9990', 'TLE_LINE2': '2 01863  26.7079 164.0781 6078424 206.6270 101.7451  3.86861601312602'}

In [13]:
from spacetrack import SpaceTrackClient
import pandas as pd
#from StringIO import StringIO
from io import StringIO
# ----------------------------------------------------------------------
# Atualiza a ultima vers√£o dos elementos orbitais no site do Space-Track
# ----------------------------------------------------------------------
loguin = "francisval20@yahoo.com.br"
password = "4mQivHD4CU934ZV"
norad_ids = [1328,7646,22698,22824,25991,27386,43477]
st = SpaceTrackClient(identity=loguin, password=password)
tlevec_csv = st.gp(norad_cat_id=norad_ids, orderby='norad_cat_id', format='csv')
df = pd.read_csv(StringIO(tlevec_csv), sep=",")

In [14]:
df.columns.to_list()

['CCSDS_OMM_VERS',
 'COMMENT',
 'CREATION_DATE',
 'ORIGINATOR',
 'OBJECT_NAME',
 'OBJECT_ID',
 'CENTER_NAME',
 'REF_FRAME',
 'TIME_SYSTEM',
 'MEAN_ELEMENT_THEORY',
 'EPOCH',
 'MEAN_MOTION',
 'ECCENTRICITY',
 'INCLINATION',
 'RA_OF_ASC_NODE',
 'ARG_OF_PERICENTER',
 'MEAN_ANOMALY',
 'EPHEMERIS_TYPE',
 'CLASSIFICATION_TYPE',
 'NORAD_CAT_ID',
 'ELEMENT_SET_NO',
 'REV_AT_EPOCH',
 'BSTAR',
 'MEAN_MOTION_DOT',
 'MEAN_MOTION_DDOT',
 'SEMIMAJOR_AXIS',
 'PERIOD',
 'APOAPSIS',
 'PERIAPSIS',
 'OBJECT_TYPE',
 'RCS_SIZE',
 'COUNTRY_CODE',
 'LAUNCH_DATE',
 'SITE',
 'DECAY_DATE',
 'FILE',
 'GP_ID',
 'TLE_LINE0',
 'TLE_LINE1',
 'TLE_LINE2']

In [ ]:
df.head()

In [18]:
# df_dict = df.to_dict('dict')

df_dict = df.to_dict('records')

In [ ]:
df_dict[5]

In [21]:
sel_orbital_elem = []

In [26]:
sel_orbital_elem.append(df_dict[3])

In [29]:
sel_orbital_elem

[{'CCSDS_OMM_VERS': 2.0,
  'COMMENT': 'GENERATED VIA SPACE-TRACK.ORG API',
  'CREATION_DATE': '2022-08-06T02:25:33',
  'ORIGINATOR': '18 SPCS',
  'OBJECT_NAME': 'EXPLORER 27',
  'OBJECT_ID': '1965-032A',
  'CENTER_NAME': 'EARTH',
  'REF_FRAME': 'TEME',
  'TIME_SYSTEM': 'UTC',
  'MEAN_ELEMENT_THEORY': 'SGP4',
  'EPOCH': '2022-08-05T16:12:20.390400',
  'MEAN_MOTION': 13.38685001,
  'ECCENTRICITY': 0.0256656,
  'INCLINATION': 41.1855,
  'RA_OF_ASC_NODE': 296.0589,
  'ARG_OF_PERICENTER': 164.7761,
  'MEAN_ANOMALY': 196.0894,
  'EPHEMERIS_TYPE': 0,
  'CLASSIFICATION_TYPE': 'U',
  'NORAD_CAT_ID': 1328,
  'ELEMENT_SET_NO': 999,
  'REV_AT_EPOCH': 79915,
  'BSTAR': -2.7503e-05,
  'MEAN_MOTION_DOT': -9.9e-07,
  'MEAN_MOTION_DDOT': 0.0,
  'SEMIMAJOR_AXIS': 7492.319,
  'PERIOD': 107.568,
  'APOAPSIS': 1306.479,
  'PERIAPSIS': 921.889,
  'OBJECT_TYPE': 'PAYLOAD',
  'RCS_SIZE': 'LARGE',
  'COUNTRY_CODE': 'US',
  'LAUNCH_DATE': '1965-04-29',
  'SITE': 'WLPIS',
  'DECAY_DATE': nan,
  'FILE': 3530042,
  'GP_ID': 209636400,
  'TLE_LINE0': '0 EXPLORER 27',
  'TLE_LINE1': '1 01328U 65032A   22217.67523600 -.00000099  00000-0 -27503-4 0  9994',
  'TLE_LINE2': '2 01328  41.1855 296.0589 0256656 164.7761 196.0894 13.38685001799154'},
 {'CCSDS_OMM_VERS': 2.0,
  'COMMENT': 'GENERATED VIA SPACE-TRACK.ORG API',
  'CREATION_DATE': '2022-08-06T02:25:33',
  'ORIGINATOR': '18 SPCS',
  'OBJECT_NAME': 'STARLETTE',
  'OBJECT_ID': '1975-010A',
  'CENTER_NAME': 'EARTH',
  'REF_FRAME': 'TEME',
  'TIME_SYSTEM': 'UTC',
  'MEAN_ELEMENT_THEORY': 'SGP4',
  'EPOCH': '2022-08-05T20:21:46.340064',
  'MEAN_MOTION': 13.82313151,
  'ECCENTRICITY': 0.0205768,
  'INCLINATION': 49.8241,
  'RA_OF_ASC_NODE': 275.2498,
  'ARG_OF_PERICENTER': 80.7386,
  'MEAN_ANOMALY': 281.6714,
  'EPHEMERIS_TYPE': 0,
  'CLASSIFICATION_TYPE': 'U',
  'NORAD_CAT_ID': 7646,
  'ELEMENT_SET_NO': 999,
  'REV_AT_EPOCH': 39931,
  'BSTAR': 1.2448e-05,
  'MEAN_MOTION_DOT': -1.3e-06,
  'MEAN_MOTION_DDOT': 0.0,
  'SEMIMAJOR_AXIS': 7333.831,
  'PERIOD': 104.173,
  'APOAPSIS': 1106.602,
  'PERIAPSIS': 804.789,
  'OBJECT_TYPE': 'PAYLOAD',
  'RCS_SIZE': 'MEDIUM',
  'COUNTRY_CODE': 'FR',
  'LAUNCH_DATE': '1975-02-06',
  'SITE': 'FRGUI',
  'DECAY_DATE': nan,
  'FILE': 3530042,
  'GP_ID': 209635578,
  'TLE_LINE0': '0 STARLETTE',
  'TLE_LINE1': '1 07646U 75010A   22217.84845301 -.00000130  00000-0  12448-4 0  9991',
  'TLE_LINE2': '2 07646  49.8241 275.2498 0205768  80.7386 281.6714 13.82313151399312'},
 {'CCSDS_OMM_VERS': 2.0,
  'COMMENT': 'GENERATED VIA SPACE-TRACK.ORG API',
  'CREATION_DATE': '2022-08-06T07:16:11',
  'ORIGINATOR': '18 SPCS',
  'OBJECT_NAME': 'STELLA',
  'OBJECT_ID': '1993-061B',
  'CENTER_NAME': 'EARTH',
  'REF_FRAME': 'TEME',
  'TIME_SYSTEM': 'UTC',
  'MEAN_ELEMENT_THEORY': 'SGP4',
  'EPOCH': '2022-08-06T04:14:16.632096',
  'MEAN_MOTION': 14.27392116,
  'ECCENTRICITY': 0.0006693,
  'INCLINATION': 98.9628,
  'RA_OF_ASC_NODE': 240.3477,
  'ARG_OF_PERICENTER': 20.8323,
  'MEAN_ANOMALY': 77.3402,
  'EPHEMERIS_TYPE': 0,
  'CLASSIFICATION_TYPE': 'U',
  'NORAD_CAT_ID': 22824,
  'ELEMENT_SET_NO': 999,
  'REV_AT_EPOCH': 50363,
  'BSTAR': 2.855e-06,
  'MEAN_MOTION_DOT': -4e-07,
  'MEAN_MOTION_DDOT': 0.0,
  'SEMIMAJOR_AXIS': 7178.598,
  'PERIOD': 100.883,
  'APOAPSIS': 805.268,
  'PERIAPSIS': 795.659,
  'OBJECT_TYPE': 'PAYLOAD',
  'RCS_SIZE': 'MEDIUM',
  'COUNTRY_CODE': 'FR',
  'LAUNCH_DATE': '1993-09-26',
  'SITE': 'FRGUI',
  'DECAY_DATE': nan,
  'FILE': 3530193,
  'GP_ID': 209663544,
  'TLE_LINE0': '0 STELLA',
  'TLE_LINE1': '1 22824U 93061B   22218.17658139 -.00000040  00000-0  28550-5 0  9992',
  'TLE_LINE2': '2 22824  98.9628 240.3477 0006693  20.8323  77.3402 14.27392116503637'}]

In [ ]:
import pandas as pd
dicpd = pd.DataFrame(sel_orbital_elem)
dicpd.head()

In [13]:
df_dict = df.to_dict('list')

In [16]:
df_dict["NORAD_CAT_ID"]

[1328, 7646, 22698, 22824, 25991, 27386, 43477]

In [53]:
type(df_dict[0])

dict

In [48]:
import json

try:
    with open('confElem.json', 'r') as fp:
        tlevec_json = json.load(fp)
    confElements = 'json'
except OSError as e:
    print(f"Error:{e.strerror}"+" ao ler o arquivo confElem.json")
    try:
        tle = T32leFileRead('conftle.txt')
        confElements = 'tle'
    except OSError as e:
        print(f"Error:{e.strerror}"+"ao ler o arquivo conftle.txt")

In [49]:
tlevec_json[0]["TLE_LINE2"]

'2 01863  26.7079 164.0781 6078424 206.6270 101.7451  3.86861601312602'

In [52]:
type(tlevec_json[0])

dict

In [7]:
sel = { "NORAD_CAT_ID":[],
        "casa":[],
        "cac":[]
        }

In [8]:
sel["NORAD_CAT_ID"].append(210)
sel["NORAD_CAT_ID"].append(120)

sel["casa"].append(210)
sel["casa"].append(120)

sel["cac"].append(110)
sel["cac"].append(1)

In [3]:
sel

{'NORAD_CAT_ID': [210, 120], 'casa': [210, 120], 'cac': [110, 1]}

In [11]:
sel.keys()

dict_keys(['NORAD_CAT_ID', 'casa', 'cac'])

In [12]:
sel.items()

dict_items([('NORAD_CAT_ID', [210, 120]), ('casa', [210, 120]), ('cac', [110, 1])])

In [16]:
import pandas as pd
df = pd.DataFrame(sel)

In [17]:
df

   NORAD_CAT_ID  casa  cac
0           210   210  110
1           120   120    1