In [1]:
import pandas as pd

In [4]:
rcs1 = pd.read_csv("RCS.csv")
rcs1.head()

   NORAD_CAT_ID     RCS
0            47  2.9661
1            58  1.2843
2            59  3.4517
3           118  1.6476
4           134  1.5570